.icon-ar {
  width: 40px;
  height: 40px;
  font-size: 18px;
  background-color: #0099da;
  color: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 0 5px 5px 0;
  text-align: center;
  line-height: 2.2;
}
.icon-ar.icon-ar-square {
  border-radius: 0;
}
.icon-ar.icon-ar-round {
  border-radius: 5px;
}
.icon-ar.icon-ar-circle {
  border-radius: 100px;
}
.icon-ar.icon-ar-inverse {
  background-color: transparent;
  color: #0099da;
  border: solid 1px #0099da;
}
.icon-ar.icon-ar-sm {
  width: 32px;
  height: 32px;
  font-size: 16px;
  line-height: 2;
}
.icon-ar.icon-ar-lg {
  width: 50px;
  height: 50px;
  font-size: 22px;
  line-height: 2.2;
}
.icon-ar.icon-ar-xl-lg {
  width: 80px;
  height: 80px;
  font-size: 36px;
  line-height: 2.2;
}
.icon-ar.icon-ar-xxl-lg {
  width: 120px;
  height: 120px;
  font-size: 48px;
  line-height: 2.6;
}
.icon-ar.icon-ar-white {
  background-color: #fff;
  color: #0099da;
}
.icon-ar.icon-ar-white.icon-ar-inverse {
  background-color: transparent;
  color: #fff;
  border: solid 1px #fff;
}
.icon-ar.icon-ar-danger {
  background-color: #d9534f;
}
.icon-ar.icon-ar-warning {
  background-color: #f0ad4e;
}
.icon-ar.icon-ar-success {
  background-color: #02c66c;
}
.icon-ar.icon-ar-info {
  background-color: #54c8eb;
}
.icon-ar.icon-ar-help {
  background-color: #ac60d0;
}
.icon-ar.icon-ar-black {
  background-color: #333;
}
.icon-ar.icon-ar-inverse.icon-ar-white {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}
.icon-ar.icon-ar-inverse.icon-ar-danger {
  background-color: transparent;
  color: #d9534f;
  border-color: #d9534f;
}
.icon-ar.icon-ar-inverse.icon-ar-warning {
  background-color: transparent;
  color: #f0ad4e;
  border-color: #f0ad4e;
}
.icon-ar.icon-ar-inverse.icon-ar-success {
  background-color: transparent;
  color: #02c66c;
  border-color: #02c66c;
}
.icon-ar.icon-ar-inverse.icon-ar-info {
  background-color: transparent;
  color: #54c8eb;
  border-color: #54c8eb;
}
.icon-ar.icon-ar-inverse.icon-ar-help {
  background-color: transparent;
  color: #ac60d0;
  border-color: #ac60d0;
}
.icon-ar.icon-ar-inverse.icon-ar-black {
  background-color: transparent;
  color: #333;
  border-color: #333;
}
.table-striped-primary > tbody > tr:nth-child(odd) > td,
.table-striped-primary > tbody > tr:nth-child(odd) > th {
  background-color: #0099da;
  color: #fff;
}


.content-box {
  display: block;
  text-align: center;
  overflow: hidden;
  padding: 15px;
  margin-bottom: 5px;
}
.content-box.box-default {
  background-color: #f6f6f6;
  border: solid 1px #e5e5e5;
}
.content-box.box-default:hover {
  background-color: #f3f3f3;
}
.content-box.box-primary .content-box-title,
.content-box.box-info .content-box-title,
.content-box.box-success .content-box-title,
.content-box.box-warning .content-box-title,
.content-box.box-danger .content-box-title,
.content-box.box-royal .content-box-title {
  color: #fff;
}
.content-box.box-primary {
  background-color: #0099da;
  color: #fff;
  border: solid 1px #005174;
}
.content-box.box-success {
  background-color: #02c66c;
  color: #fff;
  border: solid 1px #016135;
}
.content-box.box-info {
  background-color: #54c8eb;
  color: #fff;
  border: solid 1px #179bc2;
}
.content-box.box-warning {
  background-color: #f0ad4e;
  color: #fff;
  border: solid 1px #c77c11;
}
.content-box.box-danger {
  background-color: #d9534f;
  color: #fff;
  border: solid 1px #a02622;
}
.content-box.box-royal {
  background-color: #ac60d0;
  color: #fff;
  border: solid 1px #792e9c;
}
.content-box.box-primary:hover {
  background-color: #0087c1;
}
.content-box.box-success:hover {
  background-color: #02ad5e;
}
.content-box.box-info:hover {
  background-color: #3dc1e8;
}
.content-box.box-warning:hover {
  background-color: #eea236;
}
.content-box.box-danger:hover {
  background-color: #d43f3a;
}
.content-box.box-royal:hover {
  background-color: #a24cca;
}




/* Services Box */
.service-box p {
  color: #656565;
  font-size: 13px;
}
.service-box .service-box-heading {
  padding: 12px 0;
}
.service-box .service-box-heading i {
  padding: 0;
  -webkit-border-radius: 34px;
     -moz-border-radius: 34px;
          border-radius: 34px;
    font-size:18px;
    height:32px;
    width:32px;
    line-height: 32px;
    text-align:center;
    vertical-align: baseline;
}
.service-box .service-box-heading i.blue {
  color: #0da3e2;
  border:1px solid #0da3e2;
}
.service-box .service-box-heading i.red {
  color: #db3a1b;
  border:1px solid #db3a1b;
}
.service-box .service-box-heading i.green {
  color: #35aa47;
  border:1px solid #35aa47;
}
.service-box .service-box-heading span {
  color: #444;
  font-size: 21px;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 10px; 
  margin-left: 10px;
  display: inline-block;
}
.service-box .service-box-heading [class^="icon-"],
.service-box [class*=" icon-"] {
  display: inline-block;
  text-align: center;
}
.service-box .service-box-heading [class^="icon-"].icon-large,
.service-box .service-box-heading [class*=" icon-"].icon-large {
  /* increased font size for icon-large */
  width: 1.5625em;
}
/* Blockquote Box */
.quote-v1 {
  background: #3CA2BB;
  padding: 10px 0;
  margin-left: 0;
  margin-right: 0;
}
.quote-v1 a {
  margin: 5px;
  display: inline-block;
}
.quote-v1 span {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  margin: 13px 5px 8px;
  line-height: 26px;
  display: inline-block;
}
.quote-v1 a.btn-transparent {
  color: #fff;
  font-size: 16px;
  padding: 8px 18px;
  white-space: nowrap;   
  text-decoration: none;
  border: solid 1px #fff;
  background: none;
}
.quote-v1 a.btn-transparent:hover {
  background: #E02222;
  color: #fff;
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;      
}
.quote-v1 a.btn-transparent i {
	margin-right: 10px;
}
/* Recent Works */
.recent-work {
  position: relative;
}
.recent-work a:hover {
  text-decoration: none;
}
.recent-work h2,
.ecommerce .recent-work h2 {
  margin: 3px 0 5px;
}
.recent-work h2 a {
	color: #3e4d5c;
}
.recent-work h2 a:hover {
	color: #E02222;
}
.recent-work-item {
	padding-left: 10px;
}
.recent-work .owl-buttons {
	left: -74px;
	right: auto;
    top: 0;
}
.recent-work .recent-work-item a.recent-work-description {
	padding: 10px;
	display: block;
	background: #fff;
}
.recent-work .recent-work-item:hover a.recent-work-description {
	background: #E6400C;
    transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -webkit-transition: all 0.9s ease;		
}
.recent-work .recent-work-item strong {
	color: #000;
	display: block;
	font-size: 16px;
	font-weight: 300;
}
.recent-work .recent-work-item b {
	color: #656565;
	font-weight: 300;
}
.recent-work .recent-work-item:hover b,
.recent-work .recent-work-item:hover strong {
	color: #fff;
}
.recent-work .recent-work-item em {
	display: block;
	overflow: hidden;
	position: relative;
}
.recent-work .recent-work-item .fa {
	color: #fff;
	padding: 16px 30px 16px 18px;
	font-size: 16px;
	position: absolute;
	top: 50%;
	width: 47px;
	height: 47px;
	margin-top: -23.5px;
	border-radius: 47px;
	background: rgba(0,0,0,0.5);
    transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;	
}
.recent-work .recent-work-item .fa:hover {
	color: #3CA2BB;
}
.recent-work .recent-work-item .fa-link {
	left: -100px;
}
.recent-work .recent-work-item .fa-search {
	right: -100px;
}
.recent-work .recent-work-item:hover .fa-link {
	left: 30%;
}
.recent-work .recent-work-item:hover .fa-search {
	right: 30%;
}

/* Mixed Block */
/* Testimonials */
.testimonials-v1 blockquote {
	padding: 15px; 
	border: none;
	color: #666;
	display: block;
	font-size: 14px;
	line-height: 20px;
	background: #F2F2F2;
	position: relative;
}
.testimonials-v1 blockquote:before {
  content: " ";
  display: block;
  position: absolute;
  bottom: -20px;
  left: 70px;
  width: 0;
  height: 0;
  border-left: 0 inset rgba(0, 0, 0, 0);
  border-right: 22px inset rgba(0, 0, 0, 0);
  border-top: 22px solid #F8F8F8;
}
.testimonials-v1 blockquote:after { 
  width: 13px; 
  height: 13px;
  z-index: 23; 
  content: " "; 
  display: block !important; 
  position: absolute;
  right: 0;
  bottom: 0;
  background: #EAEAEA url("../images/blockquote-corner.png") no-repeat;
}

.testimonials-v1 .carousel-info img {
	width: 75px;
	height: 75px;
	padding: 3px; 
	border-radius: 150px !important;
	border: solid 1px #f5f5f5;
}
.testimonials-v1 .carousel-info {
	overflow: hidden;
}
.testimonials-v1 .carousel-info img {
	margin-right: 15px;
}
.testimonials-v1 .carousel-info span {
	display: block;
}
.testimonials-v1 span.testimonials-name {
	color: #3CA2BB;
	font-size: 16px;
	font-weight: 300;
	margin: 23px 0 7px;
}
.testimonials-v1 span.testimonials-post {
	color: #3CA2BB;
	font-size: 12px;
}
.testimonials-v1 .left-btn,
.testimonials-v1 .right-btn {
	right: 0;
	width: 26px;
	height: 26px;
	bottom: 30px;
	border-radius: 26px !important;
	position: absolute;
	display: inline-block;
}
.testimonials-v1 .left-btn {
	right: 30px;
    background: url("../images/fa-angles.png") no-repeat 8px 8px;
}
.testimonials-v1 .right-btn {
    background: url("../images/fa-angles.png") no-repeat -33px 8px;
}
.testimonials-v1 .left-btn:hover {
    background: #e84d1c url("../images/fa-angles.png") no-repeat 8px -31px;
}
.testimonials-v1 .right-btn:hover {
    background: #e84d1c url("../images/fa-angles.png") no-repeat -33px -31px;
}

/* our clients */
.our-clients {
	position: relative;
}
.our-clients h2,
.ecommerce .our-clients h2 {
	margin: 3px 0 5px;
}
.our-clients h2 a {
	color: #3CA2BB;
}
.our-clients h2 a:hover {
	color: #E02222;
}
.our-clients .client-item {
	background: #f8f8f8;
	margin-left: 2px;
	position: relative;
}
.our-clients .owl-buttons {
	left: -74px;
	right: auto;
    top: 0;
}
.our-clients .client-item img {
	margin-left: auto;
	margin-right: auto;
}
.our-clients .client-item .color-img {
	display: none;
}
.our-clients .client-item:hover img {
	display: none;
}
.our-clients .client-item:hover .color-img {
	display: block;
}
margin-bottom-0 {
	margin-bottom: 0 !important;
}
.margin-bottom-5 {
	margin-bottom: 5px !important;
}
.margin-bottom-10 {
	margin-bottom: 10px !important;
}
.margin-bottom-15 {
	margin-bottom: 15px !important;
}
.margin-bottom-20 {
	margin-bottom: 20px !important;
}
.margin-bottom-25 {
	margin-bottom: 25px !important;
}
.margin-bottom-30 {
	margin-bottom: 30px !important;
}
.margin-bottom-35 {
	margin-bottom: 35px !important;
}
.margin-bottom-40 {
	margin-bottom: 40px !important;
}
.margin-bottom-50 {
	margin-bottom: 50px !important;
}
.margin-bottom-60 {
	margin-bottom: 60px !important;
}
.margin-bottom-65 {
	margin-bottom: 65px !important;
}
/* Front Carousel */
.front-carousel .carousel-control {
  margin: 0;
  border: none;
  height: 35px;
  font-size: 24px;
  font-weight: normal;
  top: 40%;
  width: 35px;
  background: #222;
  opacity: 0.5;
}
.front-carousel .carousel-control:hover {
  opacity: 0.6;
}
.front-carousel .carousel-control i {
  font-size: 27px;
}
.front-carousel .carousel-control.right i {
  position: relative;
  left: 1px;
}
.front-carousel .carousel-caption {
  padding: 10px 15px 0;
  background: rgba(0,0,0,0.5);
  left: 0;
  right: 0;
  bottom: 0;
  text-align: left;
}
.front-carousel .carousel-control.left {
  left: 0;
}
.front-carousel .carousel-control.right {
  right: 0;
}
/** Callout
 **************************************************************** **/
.callout {
	z-index:10;
	background-color:#3CA2BB;
	padding:30px 10px;
margin:0 14px 0 14px;
}
.callout.styleBackgroundColor h2,
.callout.styleBackgroundColor h3,
.callout.styleBackgroundColor h4,
.callout.styleBackgroundColor p {
	color:#fff;
}
.callout.styleBackgroundColor .btn {
	border-color:rgba(255,255,255,0.3);
}
.callout h2,
.callout h3,
.callout h4 {
	font-weight:300;
	margin:0 0 8px 0;
}
.callout p {
	margin:0;
	padding:0 20px 0 20px;
	font-size:16px;
	font-weight:300;
}
.callout .btn {
	margin-top:0;
}


.callout.dark,
.callout.dark h2,
.callout.dark h3,
.callout.dark h4,
.callout.dark p {
	color:#fff;
	background-color:#3CA2BB;
}

.callout.dark p {
	color:#fff;
	font-size:17px;
	max-width:960px;

	margin:auto;
}
.callout.dark.arrow-up,
.callout.dark.arrow-down {
	position:relative;
	padding:40px 0;
}

.callout.dark.arrow-down:after{
	content:' ';
	position:absolute;
	width: 0; height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #3CA2BB;
	left:50%; margin-left:-10px;
	bottom:-20px;
}
.callout.dark.arrow-up:after{
	content:' ';
	position:absolute;
	width: 0; height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #3CA2BB;
	left:50%; margin-left:-10px;
	top:-20px;
}

@media only screen and (max-width: 990px) {
	.callout h2,
	.callout h3,
	.callout h4 {
		font-size:18px;
		font-weight:600;
	}
	.callout .btn {
		margin-top:20px;
	}
}

/* Skils */
.front-skills span {
  color: #555;
  display: block;
  font-size: 15px;
  margin-bottom: 7px;
}
.front-skills .progress {
  background: #f2f2f2;
}
.front-skills .progress-bar {
  background: #3CA2BB;
}
.front-skills .progress,
.front-skills .progress-bar {
  box-shadow: none;
}

/* Team Blocks */
.front-team .thumbnail {
  border: none;
}
.front-team h3,
.ecommerce .front-team h3 {
  margin:10px 0 12px;
  line-height:40px;
}
.front-team h3 strong {
  color: #3CA2BB;
  font-size: 20px;
  font-weight: 400; 
}
.front-team h3 small {
  display: block;
  font-size: 13px; 
}
.front-team ul {
  padding: 4px 0 0;
}
.front-team .social-icons {
  overflow: hidden;
}

/* Service Box v1 */
.service-box-v1 {
  text-align: center;
  padding: 15px;
}
.service-box-v1 i {
  padding: 15px;
  font-size: 35px;
}
.service-box-v1:hover {
  background: #d73d04;
  transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.service-box-v1:hover i,
.service-box-v1:hover p,
.service-box-v1:hover h2 {
  color: #fff;
}
.fa-icon-list {
			padding: 0;
			-webkit-column-count: 4;
			   -moz-column-count: 4;
			        column-count: 4;
		    -webkit-column-gap: 1em;
		       -moz-column-gap: 1em;
		            column-gap: 1em;
		}
		.fa-icon-list li {
			list-style: none;
			padding: 0!important;
			margin-bottom: 1em;
		}
		.fa-icon-list i {float:left;
			margin-right: .5em;
		
}
		.fa-icon-list span {
			display: inline-block;
			zoom: 1;
			*display: inline;
		    font-size: .9em;
		    background-color: #eee;
		    padding: .5em;
		    border-radius: .25em;
		}


.the-icons{list-style-type:none;margin-left:0px;}
.the-icons i{width:20px;text-align:center;display:inline-block;margin-right:5px;}
.the-icons li {padding:0 0 6px 0}
.fontawesome-icon-list {
  margin-top: 22px;
}
.fontawesome-icon-list .fa-hover a {
  display: block;
  color: #222222;
  line-height: 32px;
  height: 62px;
  padding-left: 10px;
  border-radius: 4px;
}
.fontawesome-icon-list .fa-hover a .fa {
  width: 32px;
  font-size: 14px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}
.fontawesome-icon-list .fa-hover a:hover {
  background-color: #1d9d74;
  color: #ffffff;
  text-decoration: none;
}
.fontawesome-icon-list .fa-hover a:hover .fa {
  font-size: 28px;
  vertical-align: -6px;
}
.fontawesome-icon-list .fa-hover a:hover .text-muted {
  color: #bbe2d5;
}
/***
Social Icons
***/
.social-icons {
  padding: 0;
  margin: 0;
}
.social-icons:before, .social-icons:after {
  content: " ";
  display: table;
}
.social-icons:after {
  clear: both;
}
.social-icons li {
  float: left;
  display: inline;
  list-style: none;
  margin-right: 5px;
  margin-bottom: 5px;
  text-indent: -9999px;
}
.social-icons li > a {
  width: 28px;
  height: 28px;
  display: block;
  background-position: 0 0;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.social-icons li:hover > a {
  background-position: 0 -38px;
}
.social-icons li .amazon {
  background: url(../img/social/amazon.png) no-repeat;
}
.social-icons li .behance {
  background: url(../img/social/behance.png) no-repeat;
}
.social-icons li .blogger {
  background: url(../img/social/blogger.png) no-repeat;
}
.social-icons li .deviantart {
  background: url(../img/social/deviantart.png) no-repeat;
}
.social-icons li .dribbble {
  background: url(../img/social/dribbble.png) no-repeat;
}
.social-icons li .dropbox {
  background: url(../img/social/dropbox.png) no-repeat;
}
.social-icons li .evernote {
  background: url(../img/social/evernote.png) no-repeat;
}
.social-icons li .facebook {
  background: url(../images/facebook.png) no-repeat;
}
.social-icons li .forrst {
  background: url(../img/social/forrst.png) no-repeat;
}
.social-icons li .github {
  background: url(../img/social/github.png) no-repeat;
}
.social-icons li .googleplus {
  background: url(../images/googleplus.png) no-repeat;
}
.social-icons li .jolicloud {
  background: url(../img/social/jolicloud.png) no-repeat;
}
.social-icons li .last-fm {
  background: url(../img/social/last-fm.png) no-repeat;
}
.social-icons li .linkedin {
  background: url(../images/linkedin.png) no-repeat;
}
.social-icons li .picasa {
  background: url(../img/social/picasa.png) no-repeat;
}
.social-icons li .pintrest {
  background: url(../img/social/pintrest.png) no-repeat;
}
.social-icons li .rss {
  background: url(../img/social/rss.png) no-repeat;
}
.social-icons li .skype {
  background: url(../img/social/skype.png) no-repeat;
}
.social-icons li .spotify {
  background: url(../img/social/spotify.png) no-repeat;
}
.social-icons li .stumbleupon {
  background: url(../img/social/stumbleupon.png) no-repeat;
}
.social-icons li .tumblr {
  background: url(../img/social/tumblr.png) no-repeat;
}
.social-icons li .twitter {
  background: url(../images/twitter.png) no-repeat;
}
.social-icons li .vimeo {
  background: url(../img/social/vimeo.png) no-repeat;
}
.social-icons li .wordpress {
  background: url(../img/social/wordpress.png) no-repeat;
}
.social-icons li .xing {
  background: url(../img/social/xing.png) no-repeat;
}
.social-icons li .yahoo {
  background: url(../img/social/yahoo.png) no-repeat;
}
.social-icons li .youtube {
  background: url(../img/social/youtube.png) no-repeat;
}
.social-icons li .vk {
  background: url(../img/social/vk.png) no-repeat;
}
.social-icons li .instagram {
  background: url(../img/social/instagram.png) no-repeat;
}
.social-icons li .reddit {
  background: url(../img/social/reddit.png) no-repeat;
}
.social-icons li .aboutme {
  background: url(../img/social/aboutme.png) no-repeat;
}
.social-icons li .flickr {
  background: url(../img/social/flickr.png) no-repeat;
}
.social-icons li .foursquare {
  background: url(../img/social/foursquare.png) no-repeat;
}
.social-icons li .gravatar {
  background: url(../img/social/gravatar.png) no-repeat;
}
.social-icons li .klout {
  background: url(../img/social/klout.png) no-repeat;
}
.social-icons li .myspace {
  background: url(../img/social/myspace.png) no-repeat;
}
.social-icons li .quora {
  background: url(../img/social/quora.png) no-repeat;
}
.social-icons.social-icons-color > li > a {
  opacity: 0.7;
  background-position: 0 -38px !important;
}
.social-icons.social-icons-color > li > a:hover {
  opacity: 1;
}
.social-icons.social-icons-circle > li > a {
  border-radius: 25px !important;
}

/***
Inline Social Icons
***/
.social-icon {
  display: inline-block !important;
  width: 28px;
  height: 28px;
  background-position: 0 0;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.social-icon.social-icon-circle {
  border-radius: 25px !important;
}

.social-icon.amazon {
  background: url(../img/social/amazon.png) no-repeat;
}
.social-icon.behance {
  background: url(../img/social/behance.png) no-repeat;
}
.social-icon.blogger {
  background: url(../img/social/blogger.png) no-repeat;
}
.social-icon.deviantart {
  background: url(../img/social/deviantart.png) no-repeat;
}
.social-icon.dribbble {
  background: url(../img/social/dribbble.png) no-repeat;
}
.social-icon.dropbox {
  background: url(../img/social/dropbox.png) no-repeat;
}
.social-icon.evernote {
  background: url(../img/social/evernote.png) no-repeat;
}
.social-icon.facebook {
  background: url(../img/social/facebook.png) no-repeat;
}
.social-icon.forrst {
  background: url(../img/social/forrst.png) no-repeat;
}
.social-icon.github {
  background: url(../img/social/github.png) no-repeat;
}
.social-icon.googleplus {
  background: url(../img/social/googleplus.png) no-repeat;
}
.social-icon.jolicloud {
  background: url(../img/social/jolicloud.png) no-repeat;
}
.social-icon.last-fm {
  background: url(../img/social/last-fm.png) no-repeat;
}
.social-icon.linkedin {
  background: url(../img/social/linkedin.png) no-repeat;
}
.social-icon.picasa {
  background: url(../img/social/picasa.png) no-repeat;
}
.social-icon.pintrest {
  background: url(../img/social/pintrest.png) no-repeat;
}
.social-icon.rss {
  background: url(../img/social/rss.png) no-repeat;
}
.social-icon.skype {
  background: url(../img/social/skype.png) no-repeat;
}
.social-icon.spotify {
  background: url(../img/social/spotify.png) no-repeat;
}
.social-icon.stumbleupon {
  background: url(../img/social/stumbleupon.png) no-repeat;
}
.social-icon.tumblr {
  background: url(../img/social/tumblr.png) no-repeat;
}
.social-icon.twitter {
  background: url(../img/social/twitter.png) no-repeat;
}
.social-icon.vimeo {
  background: url(../img/social/vimeo.png) no-repeat;
}
.social-icon.wordpress {
  background: url(../img/social/wordpress.png) no-repeat;
}
.social-icon.xing {
  background: url(../img/social/xing.png) no-repeat;
}
.social-icon.yahoo {
  background: url(../img/social/yahoo.png) no-repeat;
}
.social-icon.youtube {
  background: url(../img/social/youtube.png) no-repeat;
}
.social-icon.vk {
  background: url(../img/social/vk.png) no-repeat;
}
.social-icon.instagram {
  background: url(../img/social/instagram.png) no-repeat;
}
.social-icon.reddit {
  background: url(../img/social/reddit.png) no-repeat;
}
.social-icon.aboutme {
  background: url(../img/social/aboutme.png) no-repeat;
}
.social-icon.flickr {
  background: url(../img/social/flickr.png) no-repeat;
}
.social-icon.foursquare {
  background: url(../img/social/foursquare.png) no-repeat;
}
.social-icon.gravatar {
  background: url(../img/social/gravatar.png) no-repeat;
}
.social-icon.klout {
  background: url(../img/social/klout.png) no-repeat;
}
.social-icon.myspace {
  background: url(../img/social/myspace.png) no-repeat;
}
.social-icon.quora {
  background: url(../img/social/quora.png) no-repeat;
}
.social-icon:hover {
  background-position: 0 -38px;
}

.social-icon-color {
  opacity: 0.7;
  background-position: 0 -38px !important;
}
.social-icon-color:hover {
  opacity: 1;
}
.team-footer ul {
  display: table;
  margin: 0 auto;
}

.team-footer li {
  display: inline-block;
}

.team-footer li i {
  font-size: 16px;
  color: #8c9195;
  margin-right: 7px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #e7eaf1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.f-contact p ,.f-contact a {
  margin-bottom: 10px;
  display: block;
}

.f-contact i {
  margin-right: 10px;
}

.f-contact .fa-phone {
  margin-right: 9px;
}


.team-footer li i:hover {
  background: #fff;
  border: 1px solid #eaeff2;
}

.team-footer li:hover .fa-twitter {
  color: #00abf0;
}
.team-footer li:hover .fa-facebook {
  color: #39579a;
}
.team-footer li:hover .fa-linkedin {
  color: #0072a6;
}
.team-footer li:hover .fa-google-plus {
  color: #eb8984;
}
.team-footer li:hover .fa-pinterest {
  color: #ce1d1f;
}

/* ==========================================================================
Portfolio 
 ========================================================================== */
.hover-details {width: 100%; height: auto; overflow: hidden; position: relative; -moz-transition: all ease 400ms ease-in-out; -webkit-transition: all ease 400ms ease-in-out; -o-transition: all ease 400ms ease-in-out; transition: all ease 400ms ease-in-out; margin-bottom: 40px; }
.hover-details .img-cover { width: 100%; height: 100%; opacity: 0; position: absolute; top: 0; left: 0; background: rgba(0, 168, 214, 0.8); -moz-transition: all ease 400ms ease-in-out; -webkit-transition: all ease 400ms ease-in-out; -o-transition: all ease 400ms ease-in-out; transition: all ease 400ms ease-in-out; border-radius:3px; }
.hover-details > img { width: 100%; height: auto; -moz-transition: all ease 400ms ease-in-out; -webkit-transition: all ease 400ms ease-in-out; -o-transition: all ease 400ms ease-in-out; transition: all ease 400ms ease-in-out;}

.img-zoom { width: 45px; height: 45px; background-color: #1a1a1a; line-height: 45px; position: absolute; top: -45%; left: 50%; border-radius: 3px; margin-top: -35px; margin-left:  -25px; -webkit-transition: all ease 400ms ease-in-out; -moz-transition: all ease 400ms ease-in-out; -ms-transition: all ease 400ms ease-in-out; -o-transition: all ease 400ms ease-in-out; transition: all ease 400ms ease-in-out; text-align: center;}
.img-zoom i {color: #FFF; font-size: 18px;}

.img-cover h3 { width: 100%;	 position: absolute; bottom: -28%; color: #f8f8f8; font-size: 16px; text-align: center;	 padding: 0 10px; -webkit-transition: all 300ms ease-in-out; -moz-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; -ms-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out;}

.hover-details:hover {cursor: pointer;}
.hover-details:hover > img { transform: scale(1.2); -ms-transform: scale(1.2); -webkit-transform: scale(1.2); -o-transform: scale(1.2); -moz-transform: scale(1.2);}
.hover-details:hover .img-zoom { top: 45%;}
.hover-details:hover .img-cover h3 { bottom: 28%;}
.hover-details:hover .img-cover { opacity: 1;}
.img-zoom:hover { background-color: #333;}

/** Portfolio Page **/
.portfolio-item {
  margin-top: 40px;
}

.portfolio-image {
  position: relative;
}

.portfolio-image img {
  width: 100%;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.portfolio-image:hover .portfolio-overlay {
  opacity: 1;
}

.portfolio-overlay .portfolio-title {
  color: #f0f0f0;
  position: absolute;
  margin: 0;
  left: 25px;
  bottom: 20px;
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

/** Portfolio Single **/
.portfolio-single-image {
  width: 100%;
}

/** Our Work 1 **/
.our-work-1-item {
  margin-top: 40px;
}

.our-work-1-image {
  position: relative;
}

.our-work-1-image img {
  width: 100%;
}

.our-work-1-overlay {
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.our-work-1-image:hover .our-work-1-overlay {
  opacity: 1;
}

.our-work-1-overlay p {
  color: #f0f0f0;
  position: absolute;
  top: 50%;
  margin-top: 8px;
  width: 100%;
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.our-work-1-image:hover .our-work-1-overlay p {
  margin-top: -8px;
}

.our-work-1-item-description {
  padding: 20px 0 0;
}

.our-work-1-item-description p {
  float: right;
  width: 29%;
  text-align: right;
  line-height: 1.4em;
}

.our-work-1-item-description h6,
.our-work-1-item-description p {
  margin: 0;
  display: inline-block;
}

.our-work-1-item-description h6 {
  float: left;
  width: 69%;
}

@media (min-width: 768px) and (max-width: 991px) {

  .our-work-1-item-description h6 {
    width: 65%;
  }

  .our-work-1-item-description p {
    width: 33%;
  }

}





