@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700");
@import url("http://fonts.googleapis.com/css?family=Raleway:800");

/* Reset
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}
ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Body & Main
================================================== */
body {
  nowhitespace: afterproperty;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font: 12px/1.4;
  font-family: 'Open Sans', sans-serif;
 color: #888;

}

.boxed #page{
  width: 1250px; max-width: 100%; 
  margin: 0px auto; background-color: rgb(255, 255, 255); 
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.24);
min-height:300px;
}
body.boxed{
  background-image: url("../images/background-patterns/boxed/grid.png");
}

.overlay-element, #overlay-container, .overlay-modal-background, .overlay-element { z-index: 40000; }
#admin-menu { z-index: 50000;margin-bottom:100px }


@media only screen and (min-width: 992px) {

.boxed #header_nav{
   width:1250px; 
right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
     height: 85px; 
}
.logged-in #header_nav {
  margin-top: 68px;
}

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

.logged-in #site-navigation-wrap {
  margin-top: 68px;
}
}




@media only screen and (min-width: 768px) and (max-device-width : 1000px) and (orientation : landscape) {

.boxed #header_nav{
   width:1070px; 
right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
     height: 85px; 
}
.logged-in #header_nav {
  margin-top: 68px;
}
}

/*set max img width*/
img {

max-width: 100%;
height: auto;
}

a:not(.btn) {
  color: #3CA2BB;
}
a:not(.btn):hover {
  color: #88d0e2;
text-decoration: none 
}

/* Commons
================================================== */

/*clear floats*/
.remove-margin {
  margin-right: 0 !important;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}


/* #Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
  color: #505050;
  font-weight: 500;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 28px; line-height: 50px; }
h2 { font-size: 24px; line-height: 30px; }
h3 { font-size: 20px; line-height: 34px; }
h4 { font-size: 18px; line-height: 30px; }
h5 { font-size: 16px; line-height: 24px; }
h6 { font-size: 14px; line-height: 21px; }

p { margin: 0 0 15px 0; line-height: 24px;}
p img { margin: 0; }
p.lead { font-size: 21px; line-height: 27px; color: #777;  }

em { font-style: italic; }
strong { font-weight: 600; color: #333; }
small { font-size: 80%; }

hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }






hr {
  background: #ddd; 
  clear: both; 
  float: none; 
  width: 100%; 
  height: 1px;
  margin: 0 0 1.4em;
  border: none; 
}

/* #Lists
================================================== */
ul, ol { margin: 0; }
ul { list-style: none outside; }
ol { list-style: decimal; }
ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }
ul ul, ul ol,
ol ol, ol ul {}
ul ul li, ul ol li,
ol ol li, ol ul li {}
li { line-height: 18px; }
ul.large li { line-height: 21px; }
li p { line-height: 21px; }

/*styling sidebar and blocks*/

.widget ul.menu li a ,.widget.item-list li a{
  color: #888;
  display: block;
  line-height: 19px;
  padding: 3px 0;
}

.widget ul.menu li a:hover,.widget.item-list li a:hover {
  color: #a0a0a0;
}

.widget ul li:before ,.widget ul.menu li:before,.widget.item-list li:before{
  content: "\f105";
  font-family: "FontAwesome";
  font-size: 13px;
  color: #888;
  margin: 4px 9px 0 0 ;
  float: left;
}
.menu li, .menu li.leaf, .menu li li ,.item-list span{list-style-image: none !important;list-style-type:none !important}

/*icons in list styles for blocks*/

.block-comment ul > li {margin:0;padding:6px 2px 0 0}
.block-comment ul > li:first-child{padding:5px 0 5px 0;}
.block-comment ul > li:last-child{border:1px solid transparent;}
.block-comment ul > li:before{content: "\f0e6";
  font-family: "FontAwesome";
  font-size: 13px;
  color: #888;
  margin: 0 9px 0 0 ;}
.block-comment span{font-style: italic; font-size: 12px;}

.block-blog ul > li {margin:0;padding:6px 2px 0 0}
.block-blog ul > li:first-child{padding:5px 0 5px 0;}
.block-blog ul > li:last-child{border:1px solid transparent;}
.block-blog ul > li:before{content: "\f040";
  font-family: "FontAwesome";
  font-size: 13px;
  color: #888;
  margin: 0 9px 0 0 ;}

.block-user ul > li {margin:0;padding:6px 2px 0 0}
.block-user ul > li:first-child{padding:5px 0 5px 0;}
.block-user ul > li:last-child{border:1px solid transparent;}
.block-user ul > li:before{content: "\f13e";
  font-family: "FontAwesome";
  font-size: 13px;
  color: #888;
  margin: 0 9px 0 0 ;}

.block-forum ul > li {margin:0;padding:7px 2px 0 0}
.block-forum ul > li:first-child{padding:5px 0 5px 0;}
.block-forum ul > li:last-child{border:1px solid transparent;}
.block-forum ul > li:before{content: "\f090";
  font-family: "FontAwesome";
  font-size: 13px;
  color: #888;
  margin: 0 9px 0 0 ;}


.more-link:before{
  content: "\f0a9";
  font-family: "FontAwesome";
  font-size: 13px;
  color: #888;
  margin: 1px 0 0 5px ;
  float: right;
}



/* Titlebar
====================================*/
#titlebar {
  background-color: #f9f9f9;
  position: relative;
  min-height: 95px;
 margin:96px 0 0 0 ;
  padding-top: 35px;
  top: -25px;
border-bottom: 1px solid #edecec;
}

#titlebar h2 {
  font-size: 23px;
  font-weight: 500;
  float: left;
  width: 100%;
  margin: 5px 0 0 0;
}

#titlebar span {
  font-weight: 300;
  color: #aaa;
}



/* Breadcrumbs
====================================*/
#breadcrumbs ul {
  float: right;
  font-size: 13px;
  margin-top: 10px;
  font-weight: 500;
}

#breadcrumbs ul li {
  display: inline-block;
  color: #999;
  margin: 0 0 0 5px;
}

#breadcrumbs ul li:after {
   content:'\003E' ;
  font-family: "FontAwesome";
  font-size: 12px;
  color: #ccc;
  margin: 0 0 0 9px;
}

#breadcrumbs ul li:last-child:after,
#breadcrumbs ul li:first-child:after {
  content: "";
  margin: 0;
}

#breadcrumbs ul li:last-child a,
#breadcrumbs ul li a { color: #888; font-weight: 600; }
#breadcrumbs ul li a:hover { color: #a0a0a0; }

#breadcrumbs ul li:first-child {
  padding-right: 0;
  margin-left: 0;
}

#breadcrumbs ul li:first-child,
#breadcrumbs ul li:last-child {
  color: #999;
  background: none;
}

#breadcrumbs ul li:last-child {
  padding:0;
  background: none;
}


*Tables*/
table { border-collapse: collapse; width:100%; color: #575656; margin: 25px 0 40px; }

table th { font-size: 13px;font-weight: bold; text-transform: uppercase; border: 1px solid #fff; background: #575656; color: #ffffff; }

table th, table td { vertical-align: top; padding:10px 20px; text-align:left; }

table th a { color:#ffffff; }

table td { border:1px solid #fff; }

table tr.even, table tr.odd  { border-bottom: 1px solid #fff; background:#e4e4e4; font-size: 14px; }

.footer-area table td { border:1px solid #555; }

.footer-area table tr.even,.footer-area table tr.odd  { background: transparent; }

.footer-area table th, .footer-area table td, .banner-area table th, .banner-area table td { padding: 10px; }


/* #Forms
================================================== */

/*forms*/
input:focus, input[type="button"], input[type="reset"], input[type="submit"] { -webkit-transition: all 0.3s ease-in-out; 
-moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

input.form-text, textarea.form-textarea, select { background-color: #fcfcfc; border: 1px solid #AEBABF; color: #999999; font-size: 14px; padding: 14px; width: 100%; 
min-height: 50px; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;} 

input.form-text:focus, textarea.form-textarea:focus { background-color: #fff; outline: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

.search-form input.form-text { width: 70%; }

.dark input.form-text { border: none; }

select { -webkit-appearance: menulist; }

fieldset { padding:10px; margin: 0 2px; border: 1px solid #AEBABF; }

legend { border-bottom: none; font-size: 14px; width: auto; margin: 23px;}

input[type="radio"], input[type="checkbox"] { margin: 0px 0 3px; }




.form-item form-type-textfield{
  margin-bottom:10px;
  margin-top: 30px;
}
.form-item label {margin:4px 0 6px 0;
  font-size: 0.929em;
}
.form-type-radio label,
.form-type-checkbox label {
  margin-left: 4px;
}
.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 2px;
}
.form-actions {
  padding-top: 10px;
}


/* Search Form
====================================*/

#block-search-form .form-actions, .sidebar-search-block .form-actions { position: absolute; top:0px; right: 20px; color: #999; font-size: 16px;}
.logged-in #block-search-form .form-actions, .logged-in .sidebar-search-block .form-actions { right: 10px; }
 #block-search-form .form-actions,.sidebar-search-block .form-actions { right: 10px; }

#search-block-form, .block-search { position: relative; }

#search-block-form .form-actions, .block-search .form-actions { position: absolute; top:0px; right: 0px;font-size: 17px;}

#search-block-form .form-actions:after, .block-search .form-actions:after { font-family: 'FontAwesome'; content: "\f002"; position: absolute;
top:15px; left: -5px; z-index: 0; line-height: 18px; width: 15px; display: block;}

#search-block-form input.form-submit, .block-search input.form-submit { background-color: transparent; min-width: 0;
color: #000; position: relative; z-index: 1; height: 40px; margin: 0; padding: 15px;}

#search-block-form input.form-submit:focus, #search-block-form input.form-submit:hover,
.block-search input.form-submit:focus, .block-search input.form-submit:hover { outline: none; background: transparent; }

.logged-in #block-search-form .form-actions:after,.logged-in .sidebar-search-block .form-actions:after { 
font-family:"FontAwesome"; 
content: "\f002"; 
position: absolute; 
top:16px; left:-5px; z-index: 0; }


#block-search-form input.form-submit, .sidebar-search-block input.form-submit { background-color: transparent;
color: #000; position: relative; z-index: 1; height: 32px; margin: 0; padding: 10px;}

#block-search-form input.form-submit:focus, .sidebar-search-block input.form-submit:focus, 
.sidebar-search-block input.form-submit:hover { outline: none; background: transparent; }




.button,
input[type="button"],
input[type="submit"] {
  padding: 10px 14px;
  display: inline-block;
  border: 0;
  font-weight: 500;
  outline: none;
  font-size: 14px;
  cursor: pointer;
  width: auto;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 3px;
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.1);
}

.button i {
  margin: 0 2px 0 0;
}

.button.gray {
  color: #fff;
  background: #aaa;
}

.button.gray:hover {
  background: #a0a0a0;
}

.button.light {
  color:#999;
  background:#f2f2f2;
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.05);
}

.button.light:hover {
  color: #fff;
  background: #a0a0a0;
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.1);
}

.button.color {
  color:#fff; background: #a0a0a0;
}

.button.color:hover {
  background: #a0a0a0;
}

/* Input Button */
input[type="button"],
input[type="submit"],
input[type="button"]:focus,
input[type="submit"]:focus {
  color:#fff;
  background: #3CA2BB;
  padding: 13px 14px;
  border: none !important;
}

input[type="button"],
input[type="submit"] {
  /*float: left;*/
}

input[type="button"]:hover,
input[type="submit"]:hover {
  background: #a0a0a0;
}

/* Tabs
====================================*/
.tabs-nav ul.tabs{
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.tabs-nav li, ul.tabs li {
  float: left;
  line-height: 38px;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.tabs-nav li a, ul.tabs li a {
  background-color: #f2f2f2;
 
  color: #888;
  font-weight: 500;
  display: block;
  letter-spacing: 0;
  outline: none;
  padding: 0 20px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.05);
}

.tabs-nav li:first-child a , ul.tabs li:first-child a{ border-radius: 3px 0 0 3px; }
.tabs-nav li:last-child a ,ul.tabs li:last-child a { border-radius: 0 3px 3px 0; }

.tabs-nav li.active a, ul.tabs li.active a {
  background: #a0a0a0;
  color: #fff;
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.1);
}

.tab-content { padding: 10px 0px; }

.tabs-container {
  overflow: hidden;
  width: 100%;
}

/* =================================================================== */
/* block styles
====================================================================== */

.widget {  font-size: 14px; }
.headline {
   background-color: #fff;
  padding-right: 10px;
  z-index: 5;
  position: relative;
  float: left;
}

.line {
  border-bottom: 3px solid #e4e1e1;
  width: 100%;
  float: left;
  height: 1px;
  display: inline-block;
  margin: -16px 0 25px 0;
}

.widget .line { margin-bottom: 22px; }

#bottom .line {
  border-bottom: 3px solid #7e868c;
  
}

/* Head */
#header_nav{
   width:100%;
    height:80px;
    background-color:#fff;
    position:fixed;
    top:0;
    left:0;
 border-bottom: 3px solid #e5e2e2;
z-index: 20000;
}

#masthead{ position:relative; margin-bottom:8px}
.site-branding{
  margin-bottom: 20px;
}
#site-logo {
  float: left;
  padding: 15px 15px 0 0;
}
h1#site-title{
  
  font-weight: 800;
  margin-top: 18px;
  clear: none;
}
h1#site-title a:link, h1#site-title a:visited{
  color: #888;
}


/* Main Navigation
================================================== */
#main-menu > ul,
#main-menu > ul * { margin: 0; padding: 0; list-style: none; }
#main-menu > ul li { position: relative }
#main-menu > ul ul { position: absolute; display: none; top: 100%; left: 0; z-index: 10001; }
#main-menu > ul > li { float: left }
#main-menu > ul li:hover > ul,
#main-menu > ul li.sfHover > ul { display: block }
#main-menu > ul a { display: block; position: relative; }
#main-menu > ul ul ul { top: 0; left: 100%; }
#main-menu > ul { float: left }
#main-menu > ul ul { min-width: 160px; *width: 160px; }
#main-menu > ul a { zoom: 1 }
#main-menu > ul li { position: relative; white-space: nowrap; *white-space: normal; -webkit-transition: background .2s; transition: background .2s; }
#main-menu > ul li:hover,
#main-menu > ul li.sfHover { -webkit-transition: none; transition: none; }
#main-menu > ul .sf-mega { position: absolute; display: none; top: 100%; left: 0; z-index: 99; }
#main-menu > ul li:hover > .sf-mega,
#main-menu > ul li.sfHover > .sf-mega { display: block }
/*styling*/
#site-navigation-wrap { position: absolute; right: 0; top: 50%; height: 40px; max-width: 950px;margin: -20px 40px 0 230px }
#site-navigation #main-menu > ul li { display: block; float: left; height: 40px; line-height: 40px;}
#site-navigation #main-menu > ul > li { margin-left: 25px; }
#site-navigation #main-menu > ul > li:first-child { margin-left:0; }
#site-navigation #main-menu > ul a { color: #999; font-weight: 400; text-decoration: none; text-align: left; cursor: pointer; }
#site-navigation #main-menu > ul > li > a:hover,
#site-navigation #main-menu > ul > li.sfHover > a,
#site-navigation #main-menu > ul > li > a.active,
#site-navigation #main-menu > ul > li > a.active:hover { color: #000; }




/*drop-down styles*/
#site-navigation #main-menu > ul ul {
	margin-top:36px; 
	font-size: 13px; 
	background-color: #FFFFFF;
    border:0;
	border-bottom:3px solid #3ca2bb;
    border-radius:0;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    margin:0;
    padding:0;
	min-width: 180px;}

#site-navigation #main-menu > ul ul li a {
	 display: block; height: auto; line-height: 1.7em; 
	 padding: 10px; margin: 0px; border: 0px; 
	 text-transform: none;
	 color: #555555;
     padding: 10px 15px;
	transition: 0.3s ease-in-out 0s;
	background-color: #FFFFFF; }
#site-navigation #main-menu > ul ul li a.sf-with-ul { padding-right: 23px; }
#site-navigation #main-menu > ul ul li { border-bottom: 1px solid #E5E5E5; line-height: 1.7em; height: auto; float: none; display: block; }
#site-navigation #main-menu > ul ul li > a:hover { background-color: #E5E5E5;	color: #333333;	padding-left:20px; }
#site-navigation #main-menu > ul ul li:last-child { border: none; }
/*arrows*/
#site-navigation #main-menu > ul > li .fa-angle-down { margin-left: 5px }
#site-navigation #main-menu > ul > li ul li .fa-angle-right { position: absolute; top: 50%; right: 15px; height: 20px; line-height: 20px; margin-top: -10px; }


/*hide responsive elements
================================================== */
#navigation-toggle, .sidr, #sidr-close { display: none }

/* MObile Menu
================================================== */
	a#navigation-toggle { height: 55px; line-height: 55px; margin: 0; float: left; cursor: pointer; color: #3A4B55; padding:0  20px 0 35px; font-weight: 600; position: relative; z-index: 9; text-decoration: none !important; font-size: 1.1em; }
	a#navigation-toggle .fa { margin-right: 10px; }
	#navigation-toggle { color: #8b8b8b; }
	#navigation-toggle:hover { color: #000; }
	#sidr-main {  position: absolute; position: fixed; top: 0; height: 100%; z-index: 999999; width: 290px; overflow-x: none; overflow-y: auto;font-size: 13px; background: #535A6C; color: #fff; }
	


#sidr-main { padding: 70px 30px 30px; font-size: 13px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
	.sidr.right { left: auto; right: -320px; }
	.sidr.left { left: -320px; right: auto; }
	#sidr-main a { color: #B8BEC2; }
	#sidr-main a:hover { color: #fff; }
	#sidr-main ul a { display: block; border-bottom: 1px solid #7e88a3;box-shadow: inset 0 -1px 0 0 #22252d; padding: 11px 0; font-weight: 400; }
	#sidr-main ul a:before { 
    font-family: 'FontAwesome';
   content: '\f046'; display: inline-block; -webkit-font-smoothing: antialiased; font-family: 'FontAwesome'; color: #fff; margin-right: 10px; }
	.sidr-class-toggle-sidr-close:before { position: absolute; top:30px; left: 30px; content: '\f00d'; font-family: 'FontAwesome'; color: #fff; margin: 0; }

	


#sidr-main ul li ul { margin-left: 0; margin: 0; }
	#sidr-main ul li ul li a { padding-left: 10px; }
	

#sidr-main ul li ul li li a { padding-left: 20px; }
	#sidr-main ul li ul li li li a { padding-left: 30px; }
	#sidr-main ul li ul li a:before { content: '\f178'; display: inline-block; -webkit-font-smoothing: antialiased; font-family: 'FontAwesome'; color: #b3b9c0; margin-right: 10px; }
	.sidr-class-toggle-sidr-close:before { position: absolute; top:30px; left: 30px; content: '\f00d'; font-family: 'FontAwesome'; color: #fff; margin: 0; }
	
/* Smaller Then Desktop
================================================== */
@media only screen and (max-width: 959px) {
	a#navigation-toggle { display: block; }
	#site-navigation #main-menu > ul{ display: none; }
}
/* Mobile (Landscape)
================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.sidr { width: 480px; }
	.sidr.right { right: -480px; }
}
/* Layout */

#primary, #sidebar{
  padding-top: 20px;
  padding-bottom: 20px;
}

#main-content {
  padding-top: 15px;
 min-height:300px;
}

/* Slider */

#slidebox{
  max-height: 550px;
  position: relative;
  background: #888;
margin:60px 0 ;
}

.doverlay{
  
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top:0px;
  z-index: 100;
}

img.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
  
.flex-caption{
  width: 450px;
  position: absolute;
  top:20%;
  left: 87%;
  margin-left: -400px;
  text-align: left;
  z-index: 120;
  color: #fff;
text-shadow: 2px 2px 2px rgba(128, 132, 128, 0.94);
} 
  
.flex-caption h2{
font-weight: bold;
  font-size: 36px;
background-color: rgba(46, 149, 164, 0.7); color: rgba(46, 149, 164, 0.4); color:  #fff; font-size: 30px; padding: 15px 20px; text-transform: uppercase;
margin-bottom:15px;

}

.flex-caption h2 a:link, .flex-caption h2 a:visited{
  color: #fff;

}

.flex-caption p{
  font-size: 16px;
background-color: rgba(46, 149, 164, 0.7); color: rgba(46, 149, 164, 0.4); color:  #fff;  padding: 15px 20px; ;

}

a.frmore{
  background: rgba(255,255,255,0.7);
 float:left;
  display: block;
text-align: center;
  color: #1D4D58;
  width: 150px;
  border: 1px solid #1D4D58;;
  padding: 15px 0px;
  margin: 10px auto;
  font-weight: bold;
  text-shadow: none;
float:right;
}

#preface-area {
  background: none repeat scroll 0 0 #3CA2BB;
   margin-top: -25px;
 z-index: 21;
padding: 40px 0 20px;
}

.preface-block{
  color: #fff;
  text-align: center;
}


.preface-block .block > h2{
  font-size: 24px;
  font-weight: bold;
}

#header-block, #footer-block {
  padding: 20px 0 0;
}


#bottom{
  padding: 20px 0px 40px 0px;
  background: #2e363f;
  border-top:4px solid #7e8998;
}
 
#bottom .headline {color:#fff;  background-color: #2e363f;}




.footer-block{
  color: #7e8998;
}

.footer-block .block > h2{
  font-size: 19px;
  margin-bottom: 10px;
  padding: 10px 0px;
  color:#fff;

}

/* Footer */

.site-footer{
  padding: 10px 0px;
  background:#292f38;
  font-size: 12px;
}

.fcred{
  padding: 10px 0px;
  color: #bbb;
}

.fcred a:link, .fcred a:visited{
  color:#fff;
}


/** 06. Callouts
 *  Not quite alerts, but custom and helpful notes for folks reading the docs.
 **************************************************************** **/
.bs-callout {
	clear:both;
	position:relative;
	overflow:hidden;
	background:#ddd;
	margin:60px 0;
	padding:36px 0;

	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0;
}

.bs-callout.whiteBg {
	background:#fff !important;
}
.bs-callout h1, .bs-callout h2, .bs-callout h3 {
	margin:0;
	text-transform:none;
	line-height:30px;
}
.bs-callout.margin-top {
	margin:60px 0 0 0;
}
.bs-callout.margin-bottom {
	margin:0 0 60px 0;
}
.bs-callout.margin-footer {
	margin:0 0 -60px 0;
}
.bs-callout.styleBackground {
	padding:50px 0;
}
.bs-callout .btn {
	margin:0 20px;
}

.callout  .row {
	margin-left: 0;
	margin-right: 0;
}
.callout .container .row {
	margin-left: -15px;
	margin-right: -15px;
}
.alert .btn {
	margin-top:4px;
}

/* alert callouts */
.alert.callout {
	padding:15px;
}
.alert.callout h4 {
	margin-bottom:3px;
}
.alert.callout .btn {
	margin-top:4px;
}
.alert.callout .row>div {
	padding:0;
}



/* =Content
----------------------------------------------- */

/*Node*/
.node { position: relative; }

.node.node-teaser { padding: 0 0 30px 0; margin-bottom: 40px; }

.node.node-teaser ul.links { display: none; }

.node-blog, .node-article { position: relative; }

.node header { padding: 0 0 15px 0; }

.node header .user-picture { padding: 5px; }

.feed-icon { display: block; margin: 0px 0 60px; }

/*Post submitted info*/
.post-submitted-info { width: 55px; float: left; font-weight: 700; text-align: center; line-height: 1; position: absolute; 
top:0; left: 0; }
.submitted-user{ border:none; display:inline-block; padding:5px 10px 3px 0;font-size: 12px; }


.submitted-date { margin:10px 0 0 0; border-right: 1px solid #c2c2c2; padding-bottom: 10px; }

.comments-count { margin-top: 26px; border-right: 1px solid #c2c2c2; }

.page-node- .comments-count { margin-top: 0; }

.submitted-date + .comments-count {  border-top: 1px solid #c2c2c2; margin-top: 0; }

.node-type-mt-showcase .submitted-date { margin-top: 31px; }

.node-type-mt-showcase .comments-count { margin-top: 32px; }

.node-type-mt-showcase .submitted-date + .comments-count { margin-top: 0; }

.post-submitted-info .month { margin-top: -2px; }

.post-submitted-info .month, .post-submitted-info .year { font-size: 14px; text-transform: uppercase; }

.post-submitted-info .day { font-size: 29px; font-weight: 900; margin-bottom: 2px; }

.post-submitted-info i { color: #3ca2bb; margin-bottom: 5px; width: 100%; padding-top: 17px; }

.comment-counter { font-size: 11px; color: #3ca2bb; padding-bottom: 15px; }

.node-main-content.custom-width { margin-left: 75px;}

.node-main-content.full-width { margin-left: 0; }

/*Subheader*/
.field-name-field-subheader-body { font-size: 21px; padding: 0 0 25px 0; line-height: 1.33; }

.subheader { padding: 0 0 40px; }

/*Comments*/


#comments h2.title { margin: 20px 0 50px 0; font-size: 21px; font-weight: 700; }

.user-picture img { -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%;margin-right:20px }

.comment h2.title { margin: 0 0 10px 0; font-size: 16px; }

.comment div.user-picture img {
  margin-left: 0; /* LTR */

}

.comment {
  margin-bottom: 20px;
  display: table;
  vertical-align: top;
}
.comment .attribution {
  display: table-cell;
  padding: 0 30px 0 0; /* LTR */
  vertical-align: top;
  overflow: hidden;
}
.comment .attribution img {
  margin: 0;
  border: 1px solid #d3d7d9;
}
.comment .attribution .username {
  white-space: nowrap;
}
.comment .submitted p {
  margin: 4px 0;
  font-size: 1.071em;
  line-height: 1.2;
}
.comment .submitted .comment-time {
  font-size: 0.786em;
  color: #68696b;
}
.comment .submitted .comment-permalink {
  font-size: 0.786em;
  text-transform: lowercase;
}
.comment .content {
  font-size: 0.929em;
  line-height: 1.6;
}
.comment .comment-arrow {
  background: url(images/comment-arrow.gif) no-repeat 0 center transparent; /* LTR */
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  height: 40px;
  margin-left: -45px; /* LTR */
  margin-top: 10px;
  position: absolute;
  width: 20px;
}
.comment .comment-text {
  padding: 10px 25px;
  border: 1px solid #d3d7d9;
  display: table-cell;
  vertical-align: top;
  position: relative;
  width: 100%;
}
.comment .indented {
  margin-left: 40px; /* LTR */
}
.comment ul.links {
  padding: 0 0 0.25em 0;
}
.comment ul.links li {
  padding: 0 0.5em 0 0; /* LTR */
}
.comment-unpublished {
  margin-right: 5px; /* LTR */
  padding: 5px 2px 5px 5px; /* LTR */
}
.comment-unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
}

li.comment-add a, li.span statistics_counter last a, li.comment-comments a, .comment-reply a,li.flag-bookmarks a,li.comment_forbidden a,
li.node-readmore a, li.blog_usernames_blog a{ display:inline-block; color:#888; text-decoration:none; border:1px solid rgba(0,0,0,0.4);position:relative; cursor:pointer; font-weight:bold; padding:7px 15px 7px; cursor:pointer; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;   }

li.flag-bookmarks a:before{content: "\f02e";
  font-family: "FontAwesome";
  font-size: 13px;
  color: #888;
  margin: 0 9px 0 0 ;}

li.blog_usernames_blog a:before{content: "\f0c1";
  font-family: "FontAwesome";
  font-size: 13px;
  color: #888;
  margin: 0 9px 0 0 ;}

li.comment-add a:before{content: "\f044";
  font-family: "FontAwesome";
  font-size: 13px;
  color: #888;
  margin: 0 9px 0 0 ;}

li.comment_forbidden a:before{content: "\f023";
  font-family: "FontAwesome";
  font-size: 13px;
  color: #888;
  margin: 0 9px 0 0 ;}







@media (max-width: 1199px) {
	.comment .content { width:80%; }
}

@media (max-width: 767px) {
	.indented { margin-left: 65px; }
	.comment .content, .comment .user-picture { float:none; width:100%; }
	.comment .user-picture { max-width: 100%; min-width: 0; }
	.comment .user-picture img { display: block; margin: 0 auto 20px; }
}

@media (max-width: 480px) {
	.indented { margin-left: 30px; }
}

#content .node-teaser {
  padding-bottom:30px;
  border-bottom:1px solid #DDDDDD;
  margin-bottom: 15px;
}

.node-teaser img {
  
  float: left;
}
.page-node #content-wrap img {
  
}
.description{ margin: 20px 0 20px 0;
}
.edit-pass{ margin: 10px 0 10px 0;
}

.region-content-top {
  margin-bottom: 20px;
}

#sidebar .block {
  margin-bottom: 30px;
}

#sidebar .block > h2 {
  font-size: 20px;
  color:#888;
  margin-bottom: 15px;

  font-weight: bold;
}

.preface-block .block, .footer-block .block, .region-footer .block, .region-header .block, .region-content-top .block {
  margin-bottom: 30px;
}



.filter-wrapper label { width: auto; float: none; }

.filter-wrapper .form-select { min-width: 120px; }

.comment-form fieldset.filter-wrapper .tips { font-size: 0.786em; }

#comment-body-add-more-wrapper .form-type-textarea label { margin-bottom: 0.4em; }

#edit-actions input { margin-right: 0.6em; }

/* Other Overrides */

div.password-suggestions { border: 0; }

.ui-widget-overlay { background: #222222; opacity: 0.7; }

div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane { padding: 1em; }

#forum .name { font-size: 1.083em; }

#forum .description { font-size: 1em; }
#social:hover {
    			-webkit-transform:scale(1.1); 
-moz-transform:scale(1.1); 
-o-transform:scale(1.1); 
			}
			#social {
				-webkit-transform:scale(0.8);
                /* Browser Variations: */
-moz-transform:scale(0.8);
-o-transform:scale(0.8); 
-webkit-transition-duration: 0.5s; 
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
}           


.feature-section{
    float: left;
    width: 100%;
    padding: 70px 0px;
    border-bottom: 1px solid #3CA2BB);
    text-align: center;
}
.full-section{
    float: left;
    width: 100%;
    padding: 70px 0px;
    border-bottom: 1px solid #3CA2BB;
    overflow: hidden;
}

.style-box{
    padding: 0;
    position: relative;
}
.style-box header{
    width: 100%;
    margin-bottom: 5px;
}

.style-box .fa {
    width: 100px;
    height: 100px;
    border:1px solid #3CA2BB;
    background-color: #3CA2BB;
    color: #fff;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    border-radius: 100%;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.style-box:hover .fa{
    color: #3CA2BB;
    background-color: transparent;
     transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.style-box .title{
    margin-bottom: 20px;
    width: 100%;
    padding-bottom:20px; 
    position: relative;
}

.style-box .title h3{
    margin: 0;
}

.style-box .title:after{
     content: "";
    border-bottom: 2px solid #3CA2BB;
    height: 0;
    left: 50%;
    margin-left: -15px;
    position: absolute;
    bottom: 0px;
    width: 30px;
}
.style-box .sub-title{
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(0,0,0,.7);
    margin: 0;
    letter-spacing: 1px;
    font-weight: 600
}

.style-box .box-desc{
    padding: 0 10px;
}
/* BACKGROUNDS */
.gray-bg {
  background-color: #f3f3f4;
}
.white-bg {
  background-color: #ffffff;
}
.navy-bg {
  background-color: #1ab394;
  color: #ffffff;
}
.blue-bg {
  background-color: #1c84c6;
  color: #ffffff;
}
.lazur-bg {
  background-color: #23c6c8;
  color: #ffffff;
}
.yellow-bg {
  background-color: #f8ac59;
  color: #ffffff;
}
.red-bg {
  background-color: #ed5565;
  color: #ffffff;
}
.black-bg {
  background-color: #262626;
}
.panel-primary {
  border-color: #1ab394;
}
.panel-primary > .panel-heading {
  background-color: #1ab394;
  border-color: #1ab394;
}
.panel-success {
  border-color: #1c84c6;
}
.panel-success > .panel-heading {
  background-color: #1c84c6;
  border-color: #1c84c6;
  color: #ffffff;
}
.panel-info {
  border-color: #23c6c8;
}
.panel-info > .panel-heading {
  background-color: #23c6c8;
  border-color: #23c6c8;
  color: #ffffff;
}
.panel-warning {
  border-color: #f8ac59;
}
.panel-warning > .panel-heading {
  background-color: #f8ac59;
  border-color: #f8ac59;
  color: #ffffff;
}
.panel-danger {
  border-color: #ed5565;
}
.panel-danger > .panel-heading {
  background-color: #ed5565;
  border-color: #ed5565;
  color: #ffffff;
}
.progress-bar {
  background-color: #1ab394;
}
.progress-small,
.progress-small .progress-bar {
  height: 10px;
}
.progress-small,
.progress-mini {
  margin-top: 5px;
}
.progress-mini,
.progress-mini .progress-bar {
  height: 5px;
  margin-bottom: 0px;
}
.progress-bar-navy-light {
  background-color: #3dc7ab;
}
.progress-bar-success {
  background-color: #1c84c6;
}
.progress-bar-info {
  background-color: #23c6c8;
}
.progress-bar-warning {
  background-color: #f8ac59;
}
.progress-bar-danger {
  background-color: #ed5565;
}
.panel-title {
  font-size: inherit;
}
.jumbotron {
  border-radius: 6px;
}
.jumbotron h1 {
  margin-top: 0;
}
/* COLORS */
.text-navy {
  color: #1ab394;
}
.text-primary {
  color: inherit;
}
.text-success {
  color: #1c84c6;
}
.text-info {
  color: #23c6c8;
}
.text-warning {
  color: #f8ac59;
}
.text-danger {
  color: #ed5565;
}
.text-muted {
  color: #888888;
}
.dashboard_2 nav.navbar,
.dashboard_3 nav.navbar,
.inbox nav.navbar,
.email_view nav.navbar,
.email_compose nav.navbar {
  background: #fff;
}
.web-normal i {
    display: inline-block;
    margin: 15px;
}

.ibox-content h1,
.ibox-content h2,
.ibox-content h3,
.ibox-content h4,
.ibox-content h5,
.ibox-title h1,
.ibox-title h2,
.ibox-title h3,
.ibox-title h4,
.ibox-title h5 {
  margin-top: 5px;
}

.ibox-content.text-box {
  padding-bottom: 0px;
  padding-top: 15px;
}

.ui-draggable .ibox-title {
  cursor: move;
}

.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}
.ibox:after,
.ibox:before {
  display: table;
}
.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 4px 0px 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  height: 48px;
}
.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0px;
}

.ibox-heading {
  background-color: #f3f6fb;
  border-bottom: none;
}
.ibox-heading h3 {
  font-weight: 200;
  font-size: 24px;
}
.ibox-title h5 {
  display: inline-block;
  font-size: 14px;
  margin: 0 0 7px;
  padding: 0;
  text-overflow: ellipsis;
  float: left;
}
.ibox-title .label {
  float: left;
  margin-left: 4px;
}
.ibox-tools {
  display: inline-block;
  float: right;
  margin-top: 0;
  position: relative;
  padding: 0;
}
.ibox-tools a {
  cursor: pointer;
  margin-left: 5px;
  color: #c4c4c4;
}
.ibox-tools a.btn-primary {
  color: #fff;
}
.ibox-tools .dropdown-menu > li > a {
  padding: 4px 10px;
  font-size: 12px;
}

.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}
.btn-rounded {
  border-radius: 50px;
}
.btn-large-dim {
  width: 90px;
  height: 90px;
  font-size: 42px;
}
button.dim {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding-top: 6px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  margin-bottom: 20px !important;
}
button.dim:active {
  top: 3px;
}
button.btn-primary.dim {
  box-shadow: inset 0px 0px 0px #16987e, 0px 5px 0px 0px #16987e, 0px 10px 5px #999999;
}
button.btn-primary.dim:active {
  box-shadow: inset 0px 0px 0px #16987e, 0px 2px 0px 0px #16987e, 0px 5px 3px #999999;
}
button.btn-default.dim {
  box-shadow: inset 0px 0px 0px #b3b3b3, 0px 5px 0px 0px #b3b3b3, 0px 10px 5px #999999;
}
button.btn-default.dim:active {
  box-shadow: inset 0px 0px 0px #b3b3b3, 0px 2px 0px 0px #b3b3b3, 0px 5px 3px #999999;
}
button.btn-warning.dim {
  box-shadow: inset 0px 0px 0px #f79d3c, 0px 5px 0px 0px #f79d3c, 0px 10px 5px #999999;
}
button.btn-warning.dim:active {
  box-shadow: inset 0px 0px 0px #f79d3c, 0px 2px 0px 0px #f79d3c, 0px 5px 3px #999999;
}
button.btn-info.dim {
  box-shadow: inset 0px 0px 0px #1eacae, 0px 5px 0px 0px #1eacae, 0px 10px 5px #999999;
}
button.btn-info.dim:active {
  box-shadow: inset 0px 0px 0px #1eacae, 0px 2px 0px 0px #1eacae, 0px 5px 3px #999999;
}
button.btn-success.dim {
  box-shadow: inset 0px 0px 0px #1872ab, 0px 5px 0px 0px #1872ab, 0px 10px 5px #999999;
}
button.btn-success.dim:active {
  box-shadow: inset 0px 0px 0px #1872ab, 0px 2px 0px 0px #1872ab, 0px 5px 3px #999999;
}
button.btn-danger.dim {
  box-shadow: inset 0px 0px 0px #ea394c, 0px 5px 0px 0px #ea394c, 0px 10px 5px #999999;
}
button.btn-danger.dim:active {
  box-shadow: inset 0px 0px 0px #ea394c, 0px 2px 0px 0px #ea394c, 0px 5px 3px #999999;
}
button.dim:before {
  font-size: 50px;
  line-height: 1em;
  font-weight: normal;
  color: #fff;
  display: block;
  padding-top: 10px;
}
button.dim:active:before {
  top: 7px;
  font-size: 50px;



.btn-w-m {
  min-width: 120px;
}
.btn-primary.btn-outline {
  color: #1ab394;
}
.btn-success.btn-outline {
  color: #1c84c6;
}
.btn-info.btn-outline {
  color: #23c6c8;
}
.btn-warning.btn-outline {
  color: #f8ac59;
}
.btn-danger.btn-outline {
  color: #ed5565;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}
.btn-primary {
  background-color: #1ab394;
  border-color: #1ab394;
  color: #FFFFFF;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: #18a689;
  border-color: #18a689;
  color: #FFFFFF;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary.active[disabled],
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
  background-color: #1dc5a3;
  border-color: #1dc5a3;
}
.btn-success {
  background-color: #1c84c6;
  border-color: #1c84c6;
  color: #FFFFFF;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-color: #1a7bb9;
  border-color: #1a7bb9;
  color: #FFFFFF;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success.disabled:hover,
.btn-success.disabled:focus,
.btn-success.disabled:active,
.btn-success.disabled.active,
.btn-success[disabled],
.btn-success[disabled]:hover,
.btn-success[disabled]:focus,
.btn-success[disabled]:active,
.btn-success.active[disabled],
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-success:hover,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success.active {
  background-color: #1f90d8;
  border-color: #1f90d8;
}
.btn-info {
  background-color: #23c6c8;
  border-color: #23c6c8;
  color: #FFFFFF;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-color: #21b9bb;
  border-color: #21b9bb;
  color: #FFFFFF;
}
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info.disabled:hover,
.btn-info.disabled:focus,
.btn-info.disabled:active,
.btn-info.disabled.active,
.btn-info[disabled],
.btn-info[disabled]:hover,
.btn-info[disabled]:focus,
.btn-info[disabled]:active,
.btn-info.active[disabled],
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-info:hover,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info.active {
  background-color: #26d7d9;
  border-color: #26d7d9;
}
.btn-default {
  background-color: #c2c2c2;
  border-color: #c2c2c2;
  color: #FFFFFF;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-color: #bababa;
  border-color: #bababa;
  color: #FFFFFF;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled:active,
.btn-default.disabled.active,
.btn-default[disabled],
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled]:active,
.btn-default.active[disabled],
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default.active {
  background-color: #cccccc;
  border-color: #cccccc;
}
.btn-warning {
  background-color: #f8ac59;
  border-color: #f8ac59;
  color: #FFFFFF;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-color: #f7a54a;
  border-color: #f7a54a;
  color: #FFFFFF;
}
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning.disabled:hover,
.btn-warning.disabled:focus,
.btn-warning.disabled:active,
.btn-warning.disabled.active,
.btn-warning[disabled],
.btn-warning[disabled]:hover,
.btn-warning[disabled]:focus,
.btn-warning[disabled]:active,
.btn-warning.active[disabled],
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-warning:hover,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning:active,
fieldset[disabled] .btn-warning.active {
  background-color: #f9b66d;
  border-color: #f9b66d;
}
.btn-danger {
  background-color: #ed5565;
  border-color: #ed5565;
  color: #FFFFFF;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-color: #ec4758;
  border-color: #ec4758;
  color: #FFFFFF;
}
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled,
.btn-danger.disabled:hover,
.btn-danger.disabled:focus,
.btn-danger.disabled:active,
.btn-danger.disabled.active,
.btn-danger[disabled],
.btn-danger[disabled]:hover,
.btn-danger[disabled]:focus,
.btn-danger[disabled]:active,
.btn-danger.active[disabled],
fieldset[disabled] .btn-danger,
fieldset[disabled] .btn-danger:hover,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger:active,
fieldset[disabled] .btn-danger.active {
  background-color: #ef6776;
  border-color: #ef6776;
}
.btn-link {
  color: inherit;
}
.btn-link:hover,
.btn-link:focus,
.btn-link:active,
.btn-link.active,
.open .dropdown-toggle.btn-link {
  color: #1c84c6;
}
.btn-link:active,
.btn-link.active,
.open .dropdown-toggle.btn-link {
  background-image: none;
}
.btn-link.disabled,
.btn-link.disabled:hover,
.btn-link.disabled:focus,
.btn-link.disabled:active,
.btn-link.disabled.active,
.btn-link[disabled],
.btn-link[disabled]:hover,
.btn-link[disabled]:focus,
.btn-link[disabled]:active,
.btn-link.active[disabled],
fieldset[disabled] .btn-link,
fieldset[disabled] .btn-link:hover,
fieldset[disabled] .btn-link:focus,
fieldset[disabled] .btn-link:active,
fieldset[disabled] .btn-link.active {
  color: #cacaca;
}
.btn-white {
  color: inherit;
  background: white;
  border: 1px solid #e7eaec;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
  color: inherit;
  border: 1px solid #d2d2d2;
}
.btn-white:active,
.btn-white.active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
}
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
  background-image: none;
}
.btn-white.disabled,
.btn-white.disabled:hover,
.btn-white.disabled:focus,
.btn-white.disabled:active,
.btn-white.disabled.active,
.btn-white[disabled],
.btn-white[disabled]:hover,
.btn-white[disabled]:focus,
.btn-white[disabled]:active,
.btn-white.active[disabled],
fieldset[disabled] .btn-white,
fieldset[disabled] .btn-white:hover,
fieldset[disabled] .btn-white:focus,
fieldset[disabled] .btn-white:active,
fieldset[disabled] .btn-white.active {
  color: #cacaca;
}








/* social icons */
a.social								{ 
	display:inline-block; 
	width:38px; height:38px; 
	line-height:38px; 
	font-size:18px; 
	text-align:center; 
	background:rgba(0,0,0,0.3); 
	color:#fff; 
	margin:10px 1px; 
	text-decoration:none;

	-webkit-transition: all 0.2s;
	   -moz-transition: all 0.2s;
		 -o-transition: all 0.2s;
			transition: all 0.2s;
}
a.social.fa-twitter:hover				{ background:#41b7d8!important; color:#fff!important; }
a.social.fa-facebook:hover 				{ background:#3b5997!important; color:#fff!important; }
a.social.fa-google-plus:hover 			{ background:#d64937!important; color:#fff!important; }
a.social.fa-linkedin:hover 				{ background:#0073b2!important; color:#fff!important; }
a.social.fa-vimeo-square:hover 			{ background:#388fc5!important; color:#fff!important; }
a.social.fa-youtube-square:hover 		{ background:#A40F09!important; color:#fff!important; }
a.social.fa-flickr:hover 				{ background:#ff0084!important; color:#fff!important; }
a.social.fa-pinterest:hover 				{ background:#cb2027!important; color:#fff!important; }
a.social.fa-skype:hover 					{ background:#00aff0!important; color:#fff!important; }
a.social.fa-rss:hover					{ background:#e0812a!important; color:#fff!important; }
a.social.default:hover					{ background:#37353A!important; color:#fff!important; }
a.social.rounded 						{ width:38px; height:38px; line-height:38px; }


@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('font/glyphicons-halflings-regular.eot');
  src: url('font/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('font/glyphicons-halflings-regular.woff') format('woff'), url('font/glyphicons-halflings-regular.ttf') format('truetype'), url('font/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
}.glyphicon-asterisk:before{content:"\2a"}.glyphicon-plus:before{content:"\2b"}.glyphicon-euro:before{content:"\20ac"}.glyphicon-minus:before{content:"\2212"}.glyphicon-cloud:before{content:"\2601"}.glyphicon-envelope:before{content:"\2709"}.glyphicon-pencil:before{content:"\270f"}.glyphicon-glass:before{content:"\e001"}.glyphicon-music:before{content:"\e002"}.glyphicon-search:before{content:"\e003"}.glyphicon-heart:before{content:"\e005"}.glyphicon-star:before{content:"\e006"}.glyphicon-star-empty:before{content:"\e007"}.glyphicon-user:before{content:"\e008"}.glyphicon-film:before{content:"\e009"}.glyphicon-th-large:before{content:"\e010"}.glyphicon-th:before{content:"\e011"}.glyphicon-th-list:before{content:"\e012"}.glyphicon-ok:before{content:"\e013"}.glyphicon-remove:before{content:"\e014"}.glyphicon-zoom-in:before{content:"\e015"}.glyphicon-zoom-out:before{content:"\e016"}.glyphicon-off:before{content:"\e017"}.glyphicon-signal:before{content:"\e018"}.glyphicon-cog:before{content:"\e019"}.glyphicon-trash:before{content:"\e020"}.glyphicon-home:before{content:"\e021"}.glyphicon-file:before{content:"\e022"}.glyphicon-time:before{content:"\e023"}.glyphicon-road:before{content:"\e024"}.glyphicon-download-alt:before{content:"\e025"}.glyphicon-download:before{content:"\e026"}.glyphicon-upload:before{content:"\e027"}.glyphicon-inbox:before{content:"\e028"}.glyphicon-play-circle:before{content:"\e029"}.glyphicon-repeat:before{content:"\e030"}.glyphicon-refresh:before{content:"\e031"}.glyphicon-list-alt:before{content:"\e032"}.glyphicon-lock:before{content:"\e033"}.glyphicon-flag:before{content:"\e034"}.glyphicon-headphones:before{content:"\e035"}.glyphicon-volume-off:before{content:"\e036"}.glyphicon-volume-down:before{content:"\e037"}.glyphicon-volume-up:before{content:"\e038"}.glyphicon-qrcode:before{content:"\e039"}.glyphicon-barcode:before{content:"\e040"}.glyphicon-tag:before{content:"\e041"}.glyphicon-tags:before{content:"\e042"}.glyphicon-book:before{content:"\e043"}.glyphicon-bookmark:before{content:"\e044"}.glyphicon-print:before{content:"\e045"}.glyphicon-camera:before{content:"\e046"}.glyphicon-font:before{content:"\e047"}.glyphicon-bold:before{content:"\e048"}.glyphicon-italic:before{content:"\e049"}.glyphicon-text-height:before{content:"\e050"}.glyphicon-text-width:before{content:"\e051"}.glyphicon-align-left:before{content:"\e052"}.glyphicon-align-center:before{content:"\e053"}.glyphicon-align-right:before{content:"\e054"}.glyphicon-align-justify:before{content:"\e055"}.glyphicon-list:before{content:"\e056"}.glyphicon-indent-left:before{content:"\e057"}.glyphicon-indent-right:before{content:"\e058"}.glyphicon-facetime-video:before{content:"\e059"}.glyphicon-picture:before{content:"\e060"}.glyphicon-map-marker:before{content:"\e062"}.glyphicon-adjust:before{content:"\e063"}.glyphicon-tint:before{content:"\e064"}.glyphicon-edit:before{content:"\e065"}.glyphicon-share:before{content:"\e066"}.glyphicon-check:before{content:"\e067"}.glyphicon-move:before{content:"\e068"}.glyphicon-step-backward:before{content:"\e069"}.glyphicon-fast-backward:before{content:"\e070"}.glyphicon-backward:before{content:"\e071"}.glyphicon-play:before{content:"\e072"}.glyphicon-pause:before{content:"\e073"}.glyphicon-stop:before{content:"\e074"}.glyphicon-forward:before{content:"\e075"}.glyphicon-fast-forward:before{content:"\e076"}.glyphicon-step-forward:before{content:"\e077"}.glyphicon-eject:before{content:"\e078"}.glyphicon-chevron-left:before{content:"\e079"}.glyphicon-chevron-right:before{content:"\e080"}.glyphicon-plus-sign:before{content:"\e081"}.glyphicon-minus-sign:before{content:"\e082"}.glyphicon-remove-sign:before{content:"\e083"}.glyphicon-ok-sign:before{content:"\e084"}.glyphicon-question-sign:before{content:"\e085"}.glyphicon-info-sign:before{content:"\e086"}.glyphicon-screenshot:before{content:"\e087"}.glyphicon-remove-circle:before{content:"\e088"}.glyphicon-ok-circle:before{content:"\e089"}.glyphicon-ban-circle:before{content:"\e090"}.glyphicon-arrow-left:before{content:"\e091"}.glyphicon-arrow-right:before{content:"\e092"}.glyphicon-arrow-up:before{content:"\e093"}.glyphicon-arrow-down:before{content:"\e094"}.glyphicon-share-alt:before{content:"\e095"}.glyphicon-resize-full:before{content:"\e096"}.glyphicon-resize-small:before{content:"\e097"}.glyphicon-exclamation-sign:before{content:"\e101"}.glyphicon-gift:before{content:"\e102"}.glyphicon-leaf:before{content:"\e103"}.glyphicon-fire:before{content:"\e104"}.glyphicon-eye-open:before{content:"\e105"}.glyphicon-eye-close:before{content:"\e106"}.glyphicon-warning-sign:before{content:"\e107"}.glyphicon-plane:before{content:"\e108"}.glyphicon-calendar:before{content:"\e109"}.glyphicon-random:before{content:"\e110"}.glyphicon-comment:before{content:"\e111"}.glyphicon-magnet:before{content:"\e112"}.glyphicon-chevron-up:before{content:"\e113"}.glyphicon-chevron-down:before{content:"\e114"}.glyphicon-retweet:before{content:"\e115"}.glyphicon-shopping-cart:before{content:"\e116"}.glyphicon-folder-close:before{content:"\e117"}.glyphicon-folder-open:before{content:"\e118"}.glyphicon-resize-vertical:before{content:"\e119"}.glyphicon-resize-horizontal:before{content:"\e120"}.glyphicon-hdd:before{content:"\e121"}.glyphicon-bullhorn:before{content:"\e122"}.glyphicon-bell:before{content:"\e123"}.glyphicon-certificate:before{content:"\e124"}.glyphicon-thumbs-up:before{content:"\e125"}.glyphicon-thumbs-down:before{content:"\e126"}.glyphicon-hand-right:before{content:"\e127"}.glyphicon-hand-left:before{content:"\e128"}.glyphicon-hand-up:before{content:"\e129"}.glyphicon-hand-down:before{content:"\e130"}.glyphicon-circle-arrow-right:before{content:"\e131"}.glyphicon-circle-arrow-left:before{content:"\e132"}.glyphicon-circle-arrow-up:before{content:"\e133"}.glyphicon-circle-arrow-down:before{content:"\e134"}.glyphicon-globe:before{content:"\e135"}.glyphicon-wrench:before{content:"\e136"}.glyphicon-tasks:before{content:"\e137"}.glyphicon-filter:before{content:"\e138"}.glyphicon-briefcase:before{content:"\e139"}.glyphicon-fullscreen:before{content:"\e140"}.glyphicon-dashboard:before{content:"\e141"}.glyphicon-paperclip:before{content:"\e142"}.glyphicon-heart-empty:before{content:"\e143"}.glyphicon-link:before{content:"\e144"}.glyphicon-phone:before{content:"\e145"}.glyphicon-pushpin:before{content:"\e146"}.glyphicon-usd:before{content:"\e148"}.glyphicon-gbp:before{content:"\e149"}.glyphicon-sort:before{content:"\e150"}.glyphicon-sort-by-alphabet:before{content:"\e151"}.glyphicon-sort-by-alphabet-alt:before{content:"\e152"}.glyphicon-sort-by-order:before{content:"\e153"}.glyphicon-sort-by-order-alt:before{content:"\e154"}.glyphicon-sort-by-attributes:before{content:"\e155"}.glyphicon-sort-by-attributes-alt:before{content:"\e156"}.glyphicon-unchecked:before{content:"\e157"}.glyphicon-expand:before{content:"\e158"}.glyphicon-collapse-down:before{content:"\e159"}.glyphicon-collapse-up:before{content:"\e160"}.glyphicon-log-in:before{content:"\e161"}.glyphicon-flash:before{content:"\e162"}.glyphicon-log-out:before{content:"\e163"}.glyphicon-new-window:before{content:"\e164"}.glyphicon-record:before{content:"\e165"}.glyphicon-save:before{content:"\e166"}.glyphicon-open:before{content:"\e167"}.glyphicon-saved:before{content:"\e168"}.glyphicon-import:before{content:"\e169"}.glyphicon-export:before{content:"\e170"}.glyphicon-send:before{content:"\e171"}.glyphicon-floppy-disk:before{content:"\e172"}.glyphicon-floppy-saved:before{content:"\e173"}.glyphicon-floppy-remove:before{content:"\e174"}.glyphicon-floppy-save:before{content:"\e175"}.glyphicon-floppy-open:before{content:"\e176"}.glyphicon-credit-card:before{content:"\e177"}.glyphicon-transfer:before{content:"\e178"}.glyphicon-cutlery:before{content:"\e179"}.glyphicon-header:before{content:"\e180"}.glyphicon-compressed:before{content:"\e181"}.glyphicon-earphone:before{content:"\e182"}.glyphicon-phone-alt:before{content:"\e183"}.glyphicon-tower:before{content:"\e184"}.glyphicon-stats:before{content:"\e185"}.glyphicon-sd-video:before{content:"\e186"}.glyphicon-hd-video:before{content:"\e187"}.glyphicon-subtitles:before{content:"\e188"}.glyphicon-sound-stereo:before{content:"\e189"}.glyphicon-sound-dolby:before{content:"\e190"}.glyphicon-sound-5-1:before{content:"\e191"}.glyphicon-sound-6-1:before{content:"\e192"}.glyphicon-sound-7-1:before{content:"\e193"}.glyphicon-copyright-mark:before{content:"\e194"}.glyphicon-registration-mark:before{content:"\e195"}.glyphicon-cloud-download:before{content:"\e197"}.glyphicon-cloud-upload:before{content:"\e198"}.glyphicon-tree-conifer:before{content:"\e199"}.glyphicon-tree-deciduous:before{content:"\e200"}






/* Font Awesome 4.0.3 by @davegandy - http://fontawesome.io - @fontawesome
 * License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
================================================== */
@font-face{font-family:'FontAwesome';src:url('font/fontawesome-webfont.eot?v=4.0.3');src:url('font/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'),url('font/fontawesome-webfont.woff?v=4.0.3') format('woff'),url('font/fontawesome-webfont.ttf?v=4.0.3') format('truetype'),url('font/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}.fa{display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.fa-lg{font-size:1.3333333333333333em;line-height:.75em;vertical-align:-15%}.fa-2x{font-size:2em}.fa-3x{font-size:3em}.fa-4x{font-size:4em}.fa-5x{font-size:5em}.fa-fw{width:1.2857142857142858em;text-align:center}.fa-ul{padding-left:0;margin-left:2.142857142857143em;list-style-type:none}.fa-ul>li{position:relative}.fa-li{position:absolute;left:-2.142857142857143em;width:2.142857142857143em;top:.14285714285714285em;text-align:center}.fa-li.fa-lg{left:-1.8571428571428572em}.fa-border{padding:.2em .25em .15em;border:solid .08em #eee;border-radius:.1em}.pull-right{float:right}.pull-left{float:left}.fa.pull-left{margin-right:.3em}.fa.pull-right{margin-left:.3em}.fa-spin{-webkit-animation:spin 2s infinite linear;-moz-animation:spin 2s infinite linear;-o-animation:spin 2s infinite linear;animation:spin 2s infinite linear}@-moz-keyframes spin{0%{-moz-transform:rotate(0deg)}100%{-moz-transform:rotate(359deg)}}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg)}}@-o-keyframes spin{0%{-o-transform:rotate(0deg)}100%{-o-transform:rotate(359deg)}}@-ms-keyframes spin{0%{-ms-transform:rotate(0deg)}100%{-ms-transform:rotate(359deg)}}@keyframes spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}.fa-rotate-90{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}.fa-rotate-180{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}.fa-rotate-270{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-ms-transform:rotate(270deg);-o-transform:rotate(270deg);transform:rotate(270deg)}.fa-flip-horizontal{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0,mirror=1);-webkit-transform:scale(-1,1);-moz-transform:scale(-1,1);-ms-transform:scale(-1,1);-o-transform:scale(-1,1);transform:scale(-1,1)}.fa-flip-vertical{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2,mirror=1);-webkit-transform:scale(1,-1);-moz-transform:scale(1,-1);-ms-transform:scale(1,-1);-o-transform:scale(1,-1);transform:scale(1,-1)}.fa-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:middle}.fa-stack-1x,.fa-stack-2x{position:absolute;left:0;width:100%;text-align:center}.fa-stack-1x{line-height:inherit}.fa-stack-2x{font-size:2em}.fa-inverse{color:#fff}.fa-glass:before{content:"\f000"}.fa-music:before{content:"\f001"}.fa-search:before{content:"\f002"}.fa-envelope-o:before{content:"\f003"}.fa-heart:before{content:"\f004"}.fa-star:before{content:"\f005"}.fa-star-o:before{content:"\f006"}.fa-user:before{content:"\f007"}.fa-film:before{content:"\f008"}.fa-th-large:before{content:"\f009"}.fa-th:before{content:"\f00a"}.fa-th-list:before{content:"\f00b"}.fa-check:before{content:"\f00c"}.fa-times:before{content:"\f00d"}.fa-search-plus:before{content:"\f00e"}.fa-search-minus:before{content:"\f010"}.fa-power-off:before{content:"\f011"}.fa-signal:before{content:"\f012"}.fa-gear:before,.fa-cog:before{content:"\f013"}.fa-trash-o:before{content:"\f014"}.fa-home:before{content:"\f015"}.fa-file-o:before{content:"\f016"}.fa-clock-o:before{content:"\f017"}.fa-road:before{content:"\f018"}.fa-download:before{content:"\f019"}.fa-arrow-circle-o-down:before{content:"\f01a"}.fa-arrow-circle-o-up:before{content:"\f01b"}.fa-inbox:before{content:"\f01c"}.fa-play-circle-o:before{content:"\f01d"}.fa-rotate-right:before,.fa-repeat:before{content:"\f01e"}.fa-refresh:before{content:"\f021"}.fa-list-alt:before{content:"\f022"}.fa-lock:before{content:"\f023"}.fa-flag:before{content:"\f024"}.fa-headphones:before{content:"\f025"}.fa-volume-off:before{content:"\f026"}.fa-volume-down:before{content:"\f027"}.fa-volume-up:before{content:"\f028"}.fa-qrcode:before{content:"\f029"}.fa-barcode:before{content:"\f02a"}.fa-tag:before{content:"\f02b"}.fa-tags:before{content:"\f02c"}.fa-book:before{content:"\f02d"}.fa-bookmark:before{content:"\f02e"}.fa-print:before{content:"\f02f"}.fa-camera:before{content:"\f030"}.fa-font:before{content:"\f031"}.fa-bold:before{content:"\f032"}.fa-italic:before{content:"\f033"}.fa-text-height:before{content:"\f034"}.fa-text-width:before{content:"\f035"}.fa-align-left:before{content:"\f036"}.fa-align-center:before{content:"\f037"}.fa-align-right:before{content:"\f038"}.fa-align-justify:before{content:"\f039"}.fa-list:before{content:"\f03a"}.fa-dedent:before,.fa-outdent:before{content:"\f03b"}.fa-indent:before{content:"\f03c"}.fa-video-camera:before{content:"\f03d"}.fa-picture-o:before{content:"\f03e"}.fa-pencil:before{content:"\f040"}.fa-map-marker:before{content:"\f041"}.fa-adjust:before{content:"\f042"}.fa-tint:before{content:"\f043"}.fa-edit:before,.fa-pencil-square-o:before{content:"\f044"}.fa-share-square-o:before{content:"\f045"}.fa-check-square-o:before{content:"\f046"}.fa-arrows:before{content:"\f047"}.fa-step-backward:before{content:"\f048"}.fa-fast-backward:before{content:"\f049"}.fa-backward:before{content:"\f04a"}.fa-play:before{content:"\f04b"}.fa-pause:before{content:"\f04c"}.fa-stop:before{content:"\f04d"}.fa-forward:before{content:"\f04e"}.fa-fast-forward:before{content:"\f050"}.fa-step-forward:before{content:"\f051"}.fa-eject:before{content:"\f052"}.fa-chevron-left:before{content:"\f053"}.fa-chevron-right:before{content:"\f054"}.fa-plus-circle:before{content:"\f055"}.fa-minus-circle:before{content:"\f056"}.fa-times-circle:before{content:"\f057"}.fa-check-circle:before{content:"\f058"}.fa-question-circle:before{content:"\f059"}.fa-info-circle:before{content:"\f05a"}.fa-crosshairs:before{content:"\f05b"}.fa-times-circle-o:before{content:"\f05c"}.fa-check-circle-o:before{content:"\f05d"}.fa-ban:before{content:"\f05e"}.fa-arrow-left:before{content:"\f060"}.fa-arrow-right:before{content:"\f061"}.fa-arrow-up:before{content:"\f062"}.fa-arrow-down:before{content:"\f063"}.fa-mail-forward:before,.fa-share:before{content:"\f064"}.fa-expand:before{content:"\f065"}.fa-compress:before{content:"\f066"}.fa-plus:before{content:"\f067"}.fa-minus:before{content:"\f068"}.fa-asterisk:before{content:"\f069"}.fa-exclamation-circle:before{content:"\f06a"}.fa-gift:before{content:"\f06b"}.fa-leaf:before{content:"\f06c"}.fa-fire:before{content:"\f06d"}.fa-eye:before{content:"\f06e"}.fa-eye-slash:before{content:"\f070"}.fa-warning:before,.fa-exclamation-triangle:before{content:"\f071"}.fa-plane:before{content:"\f072"}.fa-calendar:before{content:"\f073"}.fa-random:before{content:"\f074"}.fa-comment:before{content:"\f075"}.fa-magnet:before{content:"\f076"}.fa-chevron-up:before{content:"\f077"}.fa-chevron-down:before{content:"\f078"}.fa-retweet:before{content:"\f079"}.fa-shopping-cart:before{content:"\f07a"}.fa-folder:before{content:"\f07b"}.fa-folder-open:before{content:"\f07c"}.fa-arrows-v:before{content:"\f07d"}.fa-arrows-h:before{content:"\f07e"}.fa-bar-chart-o:before{content:"\f080"}.fa-twitter-square:before{content:"\f081"}.fa-facebook-square:before{content:"\f082"}.fa-camera-retro:before{content:"\f083"}.fa-key:before{content:"\f084"}.fa-gears:before,.fa-cogs:before{content:"\f085"}.fa-comments:before{content:"\f086"}.fa-thumbs-o-up:before{content:"\f087"}.fa-thumbs-o-down:before{content:"\f088"}.fa-star-half:before{content:"\f089"}.fa-heart-o:before{content:"\f08a"}.fa-sign-out:before{content:"\f08b"}.fa-linkedin-square:before{content:"\f08c"}.fa-thumb-tack:before{content:"\f08d"}.fa-external-link:before{content:"\f08e"}.fa-sign-in:before{content:"\f090"}.fa-trophy:before{content:"\f091"}.fa-github-square:before{content:"\f092"}.fa-upload:before{content:"\f093"}.fa-lemon-o:before{content:"\f094"}.fa-phone:before{content:"\f095"}.fa-square-o:before{content:"\f096"}.fa-bookmark-o:before{content:"\f097"}.fa-phone-square:before{content:"\f098"}.fa-twitter:before{content:"\f099"}.fa-facebook:before{content:"\f09a"}.fa-github:before{content:"\f09b"}.fa-unlock:before{content:"\f09c"}.fa-credit-card:before{content:"\f09d"}.fa-rss:before{content:"\f09e"}.fa-hdd-o:before{content:"\f0a0"}.fa-bullhorn:before{content:"\f0a1"}.fa-bell:before{content:"\f0f3"}.fa-certificate:before{content:"\f0a3"}.fa-hand-o-right:before{content:"\f0a4"}.fa-hand-o-left:before{content:"\f0a5"}.fa-hand-o-up:before{content:"\f0a6"}.fa-hand-o-down:before{content:"\f0a7"}.fa-arrow-circle-left:before{content:"\f0a8"}.fa-arrow-circle-right:before{content:"\f0a9"}.fa-arrow-circle-up:before{content:"\f0aa"}.fa-arrow-circle-down:before{content:"\f0ab"}.fa-globe:before{content:"\f0ac"}.fa-wrench:before{content:"\f0ad"}.fa-tasks:before{content:"\f0ae"}.fa-filter:before{content:"\f0b0"}.fa-briefcase:before{content:"\f0b1"}.fa-arrows-alt:before{content:"\f0b2"}.fa-group:before,.fa-users:before{content:"\f0c0"}.fa-chain:before,.fa-link:before{content:"\f0c1"}.fa-cloud:before{content:"\f0c2"}.fa-flask:before{content:"\f0c3"}.fa-cut:before,.fa-scissors:before{content:"\f0c4"}.fa-copy:before,.fa-files-o:before{content:"\f0c5"}.fa-paperclip:before{content:"\f0c6"}.fa-save:before,.fa-floppy-o:before{content:"\f0c7"}.fa-square:before{content:"\f0c8"}.fa-bars:before{content:"\f0c9"}.fa-list-ul:before{content:"\f0ca"}.fa-list-ol:before{content:"\f0cb"}.fa-strikethrough:before{content:"\f0cc"}.fa-underline:before{content:"\f0cd"}.fa-table:before{content:"\f0ce"}.fa-magic:before{content:"\f0d0"}.fa-truck:before{content:"\f0d1"}.fa-pinterest:before{content:"\f0d2"}.fa-pinterest-square:before{content:"\f0d3"}.fa-google-plus-square:before{content:"\f0d4"}.fa-google-plus:before{content:"\f0d5"}.fa-money:before{content:"\f0d6"}.fa-caret-down:before{content:"\f0d7"}.fa-caret-up:before{content:"\f0d8"}.fa-caret-left:before{content:"\f0d9"}.fa-caret-right:before{content:"\f0da"}.fa-columns:before{content:"\f0db"}.fa-unsorted:before,.fa-sort:before{content:"\f0dc"}.fa-sort-down:before,.fa-sort-asc:before{content:"\f0dd"}.fa-sort-up:before,.fa-sort-desc:before{content:"\f0de"}.fa-envelope:before{content:"\f0e0"}.fa-linkedin:before{content:"\f0e1"}.fa-rotate-left:before,.fa-undo:before{content:"\f0e2"}.fa-legal:before,.fa-gavel:before{content:"\f0e3"}.fa-dashboard:before,.fa-tachometer:before{content:"\f0e4"}.fa-comment-o:before{content:"\f0e5"}.fa-comments-o:before{content:"\f0e6"}.fa-flash:before,.fa-bolt:before{content:"\f0e7"}.fa-sitemap:before{content:"\f0e8"}.fa-umbrella:before{content:"\f0e9"}.fa-paste:before,.fa-clipboard:before{content:"\f0ea"}.fa-lightbulb-o:before{content:"\f0eb"}.fa-exchange:before{content:"\f0ec"}.fa-cloud-download:before{content:"\f0ed"}.fa-cloud-upload:before{content:"\f0ee"}.fa-user-md:before{content:"\f0f0"}.fa-stethoscope:before{content:"\f0f1"}.fa-suitcase:before{content:"\f0f2"}.fa-bell-o:before{content:"\f0a2"}.fa-coffee:before{content:"\f0f4"}.fa-cutlery:before{content:"\f0f5"}.fa-file-text-o:before{content:"\f0f6"}.fa-building-o:before{content:"\f0f7"}.fa-hospital-o:before{content:"\f0f8"}.fa-ambulance:before{content:"\f0f9"}.fa-medkit:before{content:"\f0fa"}.fa-fighter-jet:before{content:"\f0fb"}.fa-beer:before{content:"\f0fc"}.fa-h-square:before{content:"\f0fd"}.fa-plus-square:before{content:"\f0fe"}.fa-angle-double-left:before{content:"\f100"}.fa-angle-double-right:before{content:"\f101"}.fa-angle-double-up:before{content:"\f102"}.fa-angle-double-down:before{content:"\f103"}.fa-angle-left:before{content:"\f104"}.fa-angle-right:before{content:"\f105"}.fa-angle-up:before{content:"\f106"}.fa-angle-down:before{content:"\f107"}.fa-desktop:before{content:"\f108"}.fa-laptop:before{content:"\f109"}.fa-tablet:before{content:"\f10a"}.fa-mobile-phone:before,.fa-mobile:before{content:"\f10b"}.fa-circle-o:before{content:"\f10c"}.fa-quote-left:before{content:"\f10d"}.fa-quote-right:before{content:"\f10e"}.fa-spinner:before{content:"\f110"}.fa-circle:before{content:"\f111"}.fa-mail-reply:before,.fa-reply:before{content:"\f112"}.fa-github-alt:before{content:"\f113"}.fa-folder-o:before{content:"\f114"}.fa-folder-open-o:before{content:"\f115"}.fa-smile-o:before{content:"\f118"}.fa-frown-o:before{content:"\f119"}.fa-meh-o:before{content:"\f11a"}.fa-gamepad:before{content:"\f11b"}.fa-keyboard-o:before{content:"\f11c"}.fa-flag-o:before{content:"\f11d"}.fa-flag-checkered:before{content:"\f11e"}.fa-terminal:before{content:"\f120"}.fa-code:before{content:"\f121"}.fa-reply-all:before{content:"\f122"}.fa-mail-reply-all:before{content:"\f122"}.fa-star-half-empty:before,.fa-star-half-full:before,.fa-star-half-o:before{content:"\f123"}.fa-location-arrow:before{content:"\f124"}.fa-crop:before{content:"\f125"}.fa-code-fork:before{content:"\f126"}.fa-unlink:before,.fa-chain-broken:before{content:"\f127"}.fa-question:before{content:"\f128"}.fa-info:before{content:"\f129"}.fa-exclamation:before{content:"\f12a"}.fa-superscript:before{content:"\f12b"}.fa-subscript:before{content:"\f12c"}.fa-eraser:before{content:"\f12d"}.fa-puzzle-piece:before{content:"\f12e"}.fa-microphone:before{content:"\f130"}.fa-microphone-slash:before{content:"\f131"}.fa-shield:before{content:"\f132"}.fa-calendar-o:before{content:"\f133"}.fa-fire-extinguisher:before{content:"\f134"}.fa-rocket:before{content:"\f135"}.fa-maxcdn:before{content:"\f136"}.fa-chevron-circle-left:before{content:"\f137"}.fa-chevron-circle-right:before{content:"\f138"}.fa-chevron-circle-up:before{content:"\f139"}.fa-chevron-circle-down:before{content:"\f13a"}.fa-html5:before{content:"\f13b"}.fa-css3:before{content:"\f13c"}.fa-anchor:before{content:"\f13d"}.fa-unlock-alt:before{content:"\f13e"}.fa-bullseye:before{content:"\f140"}.fa-ellipsis-h:before{content:"\f141"}.fa-ellipsis-v:before{content:"\f142"}.fa-rss-square:before{content:"\f143"}.fa-play-circle:before{content:"\f144"}.fa-ticket:before{content:"\f145"}.fa-minus-square:before{content:"\f146"}.fa-minus-square-o:before{content:"\f147"}.fa-level-up:before{content:"\f148"}.fa-level-down:before{content:"\f149"}.fa-check-square:before{content:"\f14a"}.fa-pencil-square:before{content:"\f14b"}.fa-external-link-square:before{content:"\f14c"}.fa-share-square:before{content:"\f14d"}.fa-compass:before{content:"\f14e"}.fa-toggle-down:before,.fa-caret-square-o-down:before{content:"\f150"}.fa-toggle-up:before,.fa-caret-square-o-up:before{content:"\f151"}.fa-toggle-right:before,.fa-caret-square-o-right:before{content:"\f152"}.fa-euro:before,.fa-eur:before{content:"\f153"}.fa-gbp:before{content:"\f154"}.fa-dollar:before,.fa-usd:before{content:"\f155"}.fa-rupee:before,.fa-inr:before{content:"\f156"}.fa-cny:before,.fa-rmb:before,.fa-yen:before,.fa-jpy:before{content:"\f157"}.fa-ruble:before,.fa-rouble:before,.fa-rub:before{content:"\f158"}.fa-won:before,.fa-krw:before{content:"\f159"}.fa-bitcoin:before,.fa-btc:before{content:"\f15a"}.fa-file:before{content:"\f15b"}.fa-file-text:before{content:"\f15c"}.fa-sort-alpha-asc:before{content:"\f15d"}.fa-sort-alpha-desc:before{content:"\f15e"}.fa-sort-amount-asc:before{content:"\f160"}.fa-sort-amount-desc:before{content:"\f161"}.fa-sort-numeric-asc:before{content:"\f162"}.fa-sort-numeric-desc:before{content:"\f163"}.fa-thumbs-up:before{content:"\f164"}.fa-thumbs-down:before{content:"\f165"}.fa-youtube-square:before{content:"\f166"}.fa-youtube:before{content:"\f167"}.fa-xing:before{content:"\f168"}.fa-xing-square:before{content:"\f169"}.fa-youtube-play:before{content:"\f16a"}.fa-dropbox:before{content:"\f16b"}.fa-stack-overflow:before{content:"\f16c"}.fa-instagram:before{content:"\f16d"}.fa-flickr:before{content:"\f16e"}.fa-adn:before{content:"\f170"}.fa-bitbucket:before{content:"\f171"}.fa-bitbucket-square:before{content:"\f172"}.fa-tumblr:before{content:"\f173"}.fa-tumblr-square:before{content:"\f174"}.fa-long-arrow-down:before{content:"\f175"}.fa-long-arrow-up:before{content:"\f176"}.fa-long-arrow-left:before{content:"\f177"}.fa-long-arrow-right:before{content:"\f178"}.fa-apple:before{content:"\f179"}.fa-windows:before{content:"\f17a"}.fa-android:before{content:"\f17b"}.fa-linux:before{content:"\f17c"}.fa-dribbble:before{content:"\f17d"}.fa-skype:before{content:"\f17e"}.fa-foursquare:before{content:"\f180"}.fa-trello:before{content:"\f181"}.fa-female:before{content:"\f182"}.fa-male:before{content:"\f183"}.fa-gittip:before{content:"\f184"}.fa-sun-o:before{content:"\f185"}.fa-moon-o:before{content:"\f186"}.fa-archive:before{content:"\f187"}.fa-bug:before{content:"\f188"}.fa-vk:before{content:"\f189"}.fa-weibo:before{content:"\f18a"}.fa-renren:before{content:"\f18b"}.fa-pagelines:before{content:"\f18c"}.fa-stack-exchange:before{content:"\f18d"}.fa-arrow-circle-o-right:before{content:"\f18e"}.fa-arrow-circle-o-left:before{content:"\f190"}.fa-toggle-left:before,.fa-caret-square-o-left:before{content:"\f191"}.fa-dot-circle-o:before{content:"\f192"}.fa-wheelchair:before{content:"\f193"}.fa-vimeo-square:before{content:"\f194"}.fa-turkish-lira:before,.fa-try:before{content:"\f195"}.fa-plus-square-o:before{content:"\f196"}



